body {
  background-color: #ededed;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.ui-card {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #7b61ff;
  border-radius: 12px;
}

.ui-content {
  padding: 20px;
  border: 1px solid #7b61ff;
  border-radius: 6px;
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #7b61ff;
}
