.container {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.ui-card {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #f7f6f6;
  border-radius: 12px;
}

.ui-content {
  padding: 20px;
  background: #f7f6f6;
  border-radius: 2px;
  display: flex;
  gap: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #323232;
}
