i.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

i.icon-24-support {
  background-image: url("../../assets/icons/24-support.svg");
}

i.icon-abstract-1 {
  background-image: url("../../assets/icons/abstract-1.svg");
}

i.icon-abstract-2 {
  background-image: url("../../assets/icons/abstract-2.svg");
}

i.icon-abstract-3 {
  background-image: url("../../assets/icons/abstract-3.svg");
}

i.icon-abstract-4 {
  background-image: url("../../assets/icons/abstract-4.svg");
}

i.icon-abstract-5 {
  background-image: url("../../assets/icons/abstract-5.svg");
}

i.icon-abstract-6 {
  background-image: url("../../assets/icons/abstract-6.svg");
}

i.icon-abstract-7 {
  background-image: url("../../assets/icons/abstract-7.svg");
}

i.icon-abstract-8 {
  background-image: url("../../assets/icons/abstract-8.svg");
}

i.icon-abstract-9 {
  background-image: url("../../assets/icons/abstract-9.svg");
}

i.icon-abstract-10 {
  background-image: url("../../assets/icons/abstract-10.svg");
}

i.icon-abstract-11 {
  background-image: url("../../assets/icons/abstract-11.svg");
}

i.icon-abstract-12 {
  background-image: url("../../assets/icons/abstract-12.svg");
}

i.icon-abstract-13 {
  background-image: url("../../assets/icons/abstract-13.svg");
}

i.icon-abstract-14 {
  background-image: url("../../assets/icons/abstract-14.svg");
}

i.icon-abstract-15 {
  background-image: url("../../assets/icons/abstract-15.svg");
}

i.icon-abstract-16 {
  background-image: url("../../assets/icons/abstract-16.svg");
}

i.icon-abstract-17 {
  background-image: url("../../assets/icons/abstract-17.svg");
}

i.icon-abstract-18 {
  background-image: url("../../assets/icons/abstract-18.svg");
}

i.icon-abstract-19 {
  background-image: url("../../assets/icons/abstract-19.svg");
}

i.icon-abstract-20 {
  background-image: url("../../assets/icons/abstract-20.svg");
}

i.icon-abstract-21 {
  background-image: url("../../assets/icons/abstract-21.svg");
}

i.icon-abstract-22 {
  background-image: url("../../assets/icons/abstract-22.svg");
}

i.icon-abstract-23 {
  background-image: url("../../assets/icons/abstract-23.svg");
}

i.icon-abstract-24 {
  background-image: url("../../assets/icons/abstract-24.svg");
}

i.icon-abstract-25 {
  background-image: url("../../assets/icons/abstract-25.svg");
}

i.icon-abstract-26 {
  background-image: url("../../assets/icons/abstract-26.svg");
}

i.icon-abstract-27 {
  background-image: url("../../assets/icons/abstract-27.svg");
}

i.icon-abstract-28 {
  background-image: url("../../assets/icons/abstract-28.svg");
}

i.icon-abstract-29 {
  background-image: url("../../assets/icons/abstract-29.svg");
}

i.icon-abstract-30 {
  background-image: url("../../assets/icons/abstract-30.svg");
}

i.icon-abstract-31 {
  background-image: url("../../assets/icons/abstract-31.svg");
}

i.icon-abstract-32 {
  background-image: url("../../assets/icons/abstract-32.svg");
}

i.icon-abstract-33 {
  background-image: url("../../assets/icons/abstract-33.svg");
}

i.icon-abstract-34 {
  background-image: url("../../assets/icons/abstract-34.svg");
}

i.icon-abstract-35 {
  background-image: url("../../assets/icons/abstract-35.svg");
}

i.icon-abstract-36 {
  background-image: url("../../assets/icons/abstract-36.svg");
}

i.icon-abstract-37 {
  background-image: url("../../assets/icons/abstract-37.svg");
}

i.icon-abstract-38 {
  background-image: url("../../assets/icons/abstract-38.svg");
}

i.icon-abstract-39 {
  background-image: url("../../assets/icons/abstract-39.svg");
}

i.icon-abstract-40 {
  background-image: url("../../assets/icons/abstract-40.svg");
}

i.icon-abstract-41 {
  background-image: url("../../assets/icons/abstract-41.svg");
}

i.icon-abstract-42 {
  background-image: url("../../assets/icons/abstract-42.svg");
}

i.icon-abstract-43 {
  background-image: url("../../assets/icons/abstract-43.svg");
}

i.icon-abstract-44 {
  background-image: url("../../assets/icons/abstract-44.svg");
}

i.icon-abstract-45 {
  background-image: url("../../assets/icons/abstract-45.svg");
}

i.icon-abstract-46 {
  background-image: url("../../assets/icons/abstract-46.svg");
}

i.icon-abstract-47 {
  background-image: url("../../assets/icons/abstract-47.svg");
}

i.icon-abstract-48 {
  background-image: url("../../assets/icons/abstract-48.svg");
}

i.icon-abstract-49 {
  background-image: url("../../assets/icons/abstract-49.svg");
}

i.icon-abstract {
  background-image: url("../../assets/icons/abstract.svg");
}

i.icon-add-files {
  background-image: url("../../assets/icons/add-files.svg");
}

i.icon-add-folder {
  background-image: url("../../assets/icons/add-folder.svg");
}

i.icon-add-notepad {
  background-image: url("../../assets/icons/add-notepad.svg");
}

i.icon-additem {
  background-image: url("../../assets/icons/additem.svg");
}

i.icon-address-book {
  background-image: url("../../assets/icons/address-book.svg");
}

i.icon-airplane-square {
  background-image: url("../../assets/icons/airplane-square.svg");
}

i.icon-airplane {
  background-image: url("../../assets/icons/airplane.svg");
}

i.icon-airpod {
  background-image: url("../../assets/icons/airpod.svg");
}

i.icon-android {
  background-image: url("../../assets/icons/android.svg");
}

i.icon-angular {
  background-image: url("../../assets/icons/angular.svg");
}

i.icon-apple {
  background-image: url("../../assets/icons/apple.svg");
}

i.icon-archive-tick {
  background-image: url("../../assets/icons/archive-tick.svg");
}

i.icon-archive {
  background-image: url("../../assets/icons/archive.svg");
}

i.icon-arrow-circle-left {
  background-image: url("../../assets/icons/arrow-circle-left.svg");
}

i.icon-arrow-circle-right {
  background-image: url("../../assets/icons/arrow-circle-right.svg");
}

i.icon-arrow-down-left {
  background-image: url("../../assets/icons/arrow-down-left.svg");
}

i.icon-arrow-down-refraction {
  background-image: url("../../assets/icons/arrow-down-refraction.svg");
}

i.icon-arrow-down-right {
  background-image: url("../../assets/icons/arrow-down-right.svg");
}

i.icon-arrow-down {
  background-image: url("../../assets/icons/arrow-down.svg");
}

i.icon-arrow-left {
  background-image: url("../../assets/icons/arrow-left.svg");
}

i.icon-arrow-mix {
  background-image: url("../../assets/icons/arrow-mix.svg");
}

i.icon-arrow-right-left {
  background-image: url("../../assets/icons/arrow-right-left.svg");
}

i.icon-arrow-right {
  background-image: url("../../assets/icons/arrow-right.svg");
}

i.icon-arrow-two-diagonals {
  background-image: url("../../assets/icons/arrow-two-diagonals.svg");
}

i.icon-arrow-up-down {
  background-image: url("../../assets/icons/arrow-up-down.svg");
}

i.icon-arrow-up-left {
  background-image: url("../../assets/icons/arrow-up-left.svg");
}

i.icon-arrow-up-refraction {
  background-image: url("../../assets/icons/arrow-up-refraction.svg");
}

i.icon-arrow-up-right {
  background-image: url("../../assets/icons/arrow-up-right.svg");
}

i.icon-arrow-up {
  background-image: url("../../assets/icons/arrow-up.svg");
}

i.icon-arrow-zigzag {
  background-image: url("../../assets/icons/arrow-zigzag.svg");
}

i.icon-arrows-circle {
  background-image: url("../../assets/icons/arrows-circle.svg");
}

i.icon-arrows-loop {
  background-image: url("../../assets/icons/arrows-loop.svg");
}

i.icon-artificial-intelligence {
  background-image: url("../../assets/icons/artificial-intelligence.svg");
}

i.icon-autobrightness {
  background-image: url("../../assets/icons/autobrightness.svg");
}

i.icon-avalanche-avax {
  background-image: url("../../assets/icons/avalanche-avax.svg");
}

i.icon-award {
  background-image: url("../../assets/icons/award.svg");
}

i.icon-badge {
  background-image: url("../../assets/icons/badge.svg");
}

i.icon-bandage {
  background-image: url("../../assets/icons/bandage.svg");
}

i.icon-bank {
  background-image: url("../../assets/icons/bank.svg");
}

i.icon-bar-chart {
  background-image: url("../../assets/icons/bar-chart.svg");
}

i.icon-barcode {
  background-image: url("../../assets/icons/barcode.svg");
}

i.icon-basket-ok {
  background-image: url("../../assets/icons/basket-ok.svg");
}

i.icon-basket {
  background-image: url("../../assets/icons/basket.svg");
}

i.icon-behance {
  background-image: url("../../assets/icons/behance.svg");
}

i.icon-bill {
  background-image: url("../../assets/icons/bill.svg");
}

i.icon-binance-usd-busd {
  background-image: url("../../assets/icons/binance-usd-busd.svg");
}

i.icon-binance {
  background-image: url("../../assets/icons/binance.svg");
}

i.icon-bitcoin {
  background-image: url("../../assets/icons/bitcoin.svg");
}

i.icon-black-down {
  background-image: url("../../assets/icons/black-down.svg");
}

i.icon-black-left-line {
  background-image: url("../../assets/icons/black-left-line.svg");
}

i.icon-black-left {
  background-image: url("../../assets/icons/black-left.svg");
}

i.icon-black-right-line {
  background-image: url("../../assets/icons/black-right-line.svg");
}

i.icon-black-right {
  background-image: url("../../assets/icons/black-right.svg");
}

i.icon-black-up {
  background-image: url("../../assets/icons/black-up.svg");
}

i.icon-bluetooth {
  background-image: url("../../assets/icons/bluetooth.svg");
}

i.icon-book-open {
  background-image: url("../../assets/icons/book-open.svg");
}

i.icon-book-square {
  background-image: url("../../assets/icons/book-square.svg");
}

i.icon-book {
  background-image: url("../../assets/icons/book.svg");
}

i.icon-bookmark-2 {
  background-image: url("../../assets/icons/bookmark-2.svg");
}

i.icon-bookmark {
  background-image: url("../../assets/icons/bookmark.svg");
}

i.icon-bootstrap {
  background-image: url("../../assets/icons/bootstrap.svg");
}

i.icon-briefcase {
  background-image: url("../../assets/icons/briefcase.svg");
}

i.icon-brifecase-cros {
  background-image: url("../../assets/icons/brifecase-cros.svg");
}

i.icon-brifecase-tick {
  background-image: url("../../assets/icons/brifecase-tick.svg");
}

i.icon-brifecase-timer {
  background-image: url("../../assets/icons/brifecase-timer.svg");
}

i.icon-brush {
  background-image: url("../../assets/icons/brush.svg");
}

i.icon-bucket-square {
  background-image: url("../../assets/icons/bucket-square.svg");
}

i.icon-bucket {
  background-image: url("../../assets/icons/bucket.svg");
}

i.icon-burger-menu-1 {
  background-image: url("../../assets/icons/burger-menu-1.svg");
}

i.icon-burger-menu-2 {
  background-image: url("../../assets/icons/burger-menu-2.svg");
}

i.icon-burger-menu-3 {
  background-image: url("../../assets/icons/burger-menu-3.svg");
}

i.icon-burger-menu-4 {
  background-image: url("../../assets/icons/burger-menu-4.svg");
}

i.icon-burger-menu-5 {
  background-image: url("../../assets/icons/burger-menu-5.svg");
}

i.icon-burger-menu-6 {
  background-image: url("../../assets/icons/burger-menu-6.svg");
}

i.icon-burger-menu {
  background-image: url("../../assets/icons/burger-menu.svg");
}

i.icon-bus {
  background-image: url("../../assets/icons/bus.svg");
}

i.icon-calculator {
  background-image: url("../../assets/icons/calculator.svg");
}

i.icon-calculatoror {
  background-image: url("../../assets/icons/calculatoror.svg");
}

i.icon-calendar-2 {
  background-image: url("../../assets/icons/calendar-2.svg");
}

i.icon-calendar-8 {
  background-image: url("../../assets/icons/calendar-8.svg");
}

i.icon-calendar-add {
  background-image: url("../../assets/icons/calendar-add.svg");
}

i.icon-calendar-edit {
  background-image: url("../../assets/icons/calendar-edit.svg");
}

i.icon-calendar-remove {
  background-image: url("../../assets/icons/calendar-remove.svg");
}

i.icon-calendar-search {
  background-image: url("../../assets/icons/calendar-search.svg");
}

i.icon-calendar-tick {
  background-image: url("../../assets/icons/calendar-tick.svg");
}

i.icon-calendar {
  background-image: url("../../assets/icons/calendar.svg");
}

i.icon-call {
  background-image: url("../../assets/icons/call.svg");
}

i.icon-capsule {
  background-image: url("../../assets/icons/capsule.svg");
}

i.icon-car {
  background-image: url("../../assets/icons/car.svg");
}

i.icon-category {
  background-image: url("../../assets/icons/category.svg");
}

i.icon-cd {
  background-image: url("../../assets/icons/cd.svg");
}

i.icon-celsius-cel {
  background-image: url("../../assets/icons/celsius-cel.svg");
}

i.icon-chart-line-down-2 {
  background-image: url("../../assets/icons/chart-line-down-2.svg");
}

i.icon-chart-line-down {
  background-image: url("../../assets/icons/chart-line-down.svg");
}

i.icon-chart-line-star {
  background-image: url("../../assets/icons/chart-line-star.svg");
}

i.icon-chart-line-up-2 {
  background-image: url("../../assets/icons/chart-line-up-2.svg");
}

i.icon-chart-line-up {
  background-image: url("../../assets/icons/chart-line-up.svg");
}

i.icon-chart-line {
  background-image: url("../../assets/icons/chart-line.svg");
}

i.icon-chart-pie-3 {
  background-image: url("../../assets/icons/chart-pie-3.svg");
}

i.icon-chart-pie-4 {
  background-image: url("../../assets/icons/chart-pie-4.svg");
}

i.icon-chart-pie-simple {
  background-image: url("../../assets/icons/chart-pie-simple.svg");
}

i.icon-chart-pie-too {
  background-image: url("../../assets/icons/chart-pie-too.svg");
}

i.icon-chart-simple-2 {
  background-image: url("../../assets/icons/chart-simple-2.svg");
}

i.icon-chart-simple-3 {
  background-image: url("../../assets/icons/chart-simple-3.svg");
}

i.icon-chart-simple {
  background-image: url("../../assets/icons/chart-simple.svg");
}

i.icon-chart {
  background-image: url("../../assets/icons/chart.svg");
}

i.icon-check-circle {
  background-image: url("../../assets/icons/check-circle.svg");
}

i.icon-check-squared {
  background-image: url("../../assets/icons/check-squared.svg");
}

i.icon-check {
  background-image: url("../../assets/icons/check.svg");
}

i.icon-cheque {
  background-image: url("../../assets/icons/cheque.svg");
}

i.icon-chrome {
  background-image: url("../../assets/icons/chrome.svg");
}

i.icon-classmates {
  background-image: url("../../assets/icons/classmates.svg");
}

i.icon-click {
  background-image: url("../../assets/icons/click.svg");
}

i.icon-clipboard {
  background-image: url("../../assets/icons/clipboard.svg");
}

i.icon-cloud-add {
  background-image: url("../../assets/icons/cloud-add.svg");
}

i.icon-cloud-change {
  background-image: url("../../assets/icons/cloud-change.svg");
}

i.icon-cloud-download {
  background-image: url("../../assets/icons/cloud-download.svg");
}

i.icon-cloud {
  background-image: url("../../assets/icons/cloud.svg");
}

i.icon-code {
  background-image: url("../../assets/icons/code.svg");
}

i.icon-coffee {
  background-image: url("../../assets/icons/coffee.svg");
}

i.icon-color-swatch {
  background-image: url("../../assets/icons/color-swatch.svg");
}

i.icon-colors-square {
  background-image: url("../../assets/icons/colors-square.svg");
}

i.icon-compass {
  background-image: url("../../assets/icons/compass.svg");
}

i.icon-copy-success {
  background-image: url("../../assets/icons/copy-success.svg");
}

i.icon-copy {
  background-image: url("../../assets/icons/copy.svg");
}

i.icon-courier-express {
  background-image: url("../../assets/icons/courier-express.svg");
}

i.icon-courier {
  background-image: url("../../assets/icons/courier.svg");
}

i.icon-credit-cart {
  background-image: url("../../assets/icons/credit-cart.svg");
}

i.icon-cross-circle {
  background-image: url("../../assets/icons/cross-circle.svg");
}

i.icon-cross-square {
  background-image: url("../../assets/icons/cross-square.svg");
}

i.icon-cross {
  background-image: url("../../assets/icons/cross.svg");
}

i.icon-crown-2 {
  background-image: url("../../assets/icons/crown-2.svg");
}

i.icon-crown {
  background-image: url("../../assets/icons/crown.svg");
}

i.icon-css {
  background-image: url("../../assets/icons/css.svg");
}

i.icon-cube-2 {
  background-image: url("../../assets/icons/cube-2.svg");
}

i.icon-cube-3 {
  background-image: url("../../assets/icons/cube-3.svg");
}

i.icon-cup {
  background-image: url("../../assets/icons/cup.svg");
}

i.icon-cursor {
  background-image: url("../../assets/icons/cursor.svg");
}

i.icon-dash {
  background-image: url("../../assets/icons/dash.svg");
}

i.icon-data {
  background-image: url("../../assets/icons/data.svg");
}

i.icon-delete-files {
  background-image: url("../../assets/icons/delete-files.svg");
}

i.icon-delete-folder {
  background-image: url("../../assets/icons/delete-folder.svg");
}

i.icon-delivery-2 {
  background-image: url("../../assets/icons/delivery-2.svg");
}

i.icon-delivery-3 {
  background-image: url("../../assets/icons/delivery-3.svg");
}

i.icon-delivery-door {
  background-image: url("../../assets/icons/delivery-door.svg");
}

i.icon-delivery-geolocation {
  background-image: url("../../assets/icons/delivery-geolocation.svg");
}

i.icon-delivery-time {
  background-image: url("../../assets/icons/delivery-time.svg");
}

i.icon-delivery {
  background-image: url("../../assets/icons/delivery.svg");
}

i.icon-design-1 {
  background-image: url("../../assets/icons/design-1.svg");
}

i.icon-design-2 {
  background-image: url("../../assets/icons/design-2.svg");
}

i.icon-desktop-mobile {
  background-image: url("../../assets/icons/desktop-mobile.svg");
}

i.icon-devices-2 {
  background-image: url("../../assets/icons/devices-2.svg");
}

i.icon-devices {
  background-image: url("../../assets/icons/devices.svg");
}

i.icon-diamonds {
  background-image: url("../../assets/icons/diamonds.svg");
}

i.icon-directbox-default {
  background-image: url("../../assets/icons/directbox-default.svg");
}

i.icon-disconnect {
  background-image: url("../../assets/icons/disconnect.svg");
}

i.icon-discount {
  background-image: url("../../assets/icons/discount.svg");
}

i.icon-disguise {
  background-image: url("../../assets/icons/disguise.svg");
}

i.icon-disk {
  background-image: url("../../assets/icons/disk.svg");
}

i.icon-dislike {
  background-image: url("../../assets/icons/dislike.svg");
}

i.icon-dj {
  background-image: url("../../assets/icons/dj.svg");
}

i.icon-document {
  background-image: url("../../assets/icons/document.svg");
}

i.icon-dollar {
  background-image: url("../../assets/icons/dollar.svg");
}

i.icon-dots-circle-vertical {
  background-image: url("../../assets/icons/dots-circle-vertical.svg");
}

i.icon-dots-circle {
  background-image: url("../../assets/icons/dots-circle.svg");
}

i.icon-dots-horizontal {
  background-image: url("../../assets/icons/dots-horizontal.svg");
}

i.icon-dots-square-vertical {
  background-image: url("../../assets/icons/dots-square-vertical.svg");
}

i.icon-dots-square {
  background-image: url("../../assets/icons/dots-square.svg");
}

i.icon-dots-vertical {
  background-image: url("../../assets/icons/dots-vertical.svg");
}

i.icon-double-check-circle {
  background-image: url("../../assets/icons/double-check-circle.svg");
}

i.icon-double-check {
  background-image: url("../../assets/icons/double-check.svg");
}

i.icon-double-down {
  background-image: url("../../assets/icons/double-down.svg");
}

i.icon-double-left-arrow {
  background-image: url("../../assets/icons/double-left-arrow.svg");
}

i.icon-double-left {
  background-image: url("../../assets/icons/double-left.svg");
}

i.icon-double-right-arrow {
  background-image: url("../../assets/icons/double-right-arrow.svg");
}

i.icon-double-right {
  background-image: url("../../assets/icons/double-right.svg");
}

i.icon-double-up {
  background-image: url("../../assets/icons/double-up.svg");
}

i.icon-down-square {
  background-image: url("../../assets/icons/down-square.svg");
}

i.icon-down {
  background-image: url("../../assets/icons/down.svg");
}

i.icon-dribbble {
  background-image: url("../../assets/icons/dribbble.svg");
}

i.icon-drop {
  background-image: url("../../assets/icons/drop.svg");
}

i.icon-dropbox {
  background-image: url("../../assets/icons/dropbox.svg");
}

i.icon-educare-ekt {
  background-image: url("../../assets/icons/educare-ekt.svg");
}

i.icon-electricity {
  background-image: url("../../assets/icons/electricity.svg");
}

i.icon-electronic-clock {
  background-image: url("../../assets/icons/electronic-clock.svg");
}

i.icon-element-1 {
  background-image: url("../../assets/icons/element-1.svg");
}

i.icon-element-2 {
  background-image: url("../../assets/icons/element-2.svg");
}

i.icon-element-3 {
  background-image: url("../../assets/icons/element-3.svg");
}

i.icon-element-4 {
  background-image: url("../../assets/icons/element-4.svg");
}

i.icon-element-5 {
  background-image: url("../../assets/icons/element-5.svg");
}

i.icon-element-6 {
  background-image: url("../../assets/icons/element-6.svg");
}

i.icon-element-7 {
  background-image: url("../../assets/icons/element-7.svg");
}

i.icon-element-8 {
  background-image: url("../../assets/icons/element-8.svg");
}

i.icon-element-9 {
  background-image: url("../../assets/icons/element-9.svg");
}

i.icon-element-10 {
  background-image: url("../../assets/icons/element-10.svg");
}

i.icon-element-11 {
  background-image: url("../../assets/icons/element-11.svg");
}

i.icon-element-12 {
  background-image: url("../../assets/icons/element-12.svg");
}

i.icon-element-equal {
  background-image: url("../../assets/icons/element-equal.svg");
}

i.icon-element-plus {
  background-image: url("../../assets/icons/element-plus.svg");
}

i.icon-emoji-happy {
  background-image: url("../../assets/icons/emoji-happy.svg");
}

i.icon-enjin-coin-enj {
  background-image: url("../../assets/icons/enjin-coin-enj.svg");
}

i.icon-ensure {
  background-image: url("../../assets/icons/ensure.svg");
}

i.icon-entrance-left {
  background-image: url("../../assets/icons/entrance-left.svg");
}

i.icon-entrance-right {
  background-image: url("../../assets/icons/entrance-right.svg");
}

i.icon-eraser {
  background-image: url("../../assets/icons/eraser.svg");
}

i.icon-euro {
  background-image: url("../../assets/icons/euro.svg");
}

i.icon-exit-down {
  background-image: url("../../assets/icons/exit-down.svg");
}

i.icon-exit-left {
  background-image: url("../../assets/icons/exit-left.svg");
}

i.icon-exit-right-corner {
  background-image: url("../../assets/icons/exit-right-corner.svg");
}

i.icon-exit-right {
  background-image: url("../../assets/icons/exit-right.svg");
}

i.icon-exit-up {
  background-image: url("../../assets/icons/exit-up.svg");
}

i.icon-external-drive {
  background-image: url("../../assets/icons/external-drive.svg");
}

i.icon-eye-slash {
  background-image: url("../../assets/icons/eye-slash.svg");
}

i.icon-eye {
  background-image: url("../../assets/icons/eye.svg");
}

i.icon-face-id {
  background-image: url("../../assets/icons/face-id.svg");
}

i.icon-facebook {
  background-image: url("../../assets/icons/facebook.svg");
}

i.icon-fasten {
  background-image: url("../../assets/icons/fasten.svg");
}

i.icon-fatrows {
  background-image: url("../../assets/icons/fatrows.svg");
}

i.icon-feather {
  background-image: url("../../assets/icons/feather.svg");
}

i.icon-figma {
  background-image: url("../../assets/icons/figma.svg");
}

i.icon-file-added {
  background-image: url("../../assets/icons/file-added.svg");
}

i.icon-file-deleted {
  background-image: url("../../assets/icons/file-deleted.svg");
}

i.icon-file-down {
  background-image: url("../../assets/icons/file-down.svg");
}

i.icon-file-left {
  background-image: url("../../assets/icons/file-left.svg");
}

i.icon-file-right {
  background-image: url("../../assets/icons/file-right.svg");
}

i.icon-file-sheet {
  background-image: url("../../assets/icons/file-sheet.svg");
}

i.icon-file-up {
  background-image: url("../../assets/icons/file-up.svg");
}

i.icon-files {
  background-image: url("../../assets/icons/files.svg");
}

i.icon-filter-edit {
  background-image: url("../../assets/icons/filter-edit.svg");
}

i.icon-filter-search {
  background-image: url("../../assets/icons/filter-search.svg");
}

i.icon-filter-square {
  background-image: url("../../assets/icons/filter-square.svg");
}

i.icon-filter-tablet {
  background-image: url("../../assets/icons/filter-tablet.svg");
}

i.icon-filter-tick {
  background-image: url("../../assets/icons/filter-tick.svg");
}

i.icon-filter {
  background-image: url("../../assets/icons/filter.svg");
}

i.icon-financial-schedule {
  background-image: url("../../assets/icons/financial-schedule.svg");
}

i.icon-fingerprint-scanning {
  background-image: url("../../assets/icons/fingerprint-scanning.svg");
}

i.icon-flag {
  background-image: url("../../assets/icons/flag.svg");
}

i.icon-flash-circle {
  background-image: url("../../assets/icons/flash-circle.svg");
}

i.icon-flask {
  background-image: url("../../assets/icons/flask.svg");
}

i.icon-focus {
  background-image: url("../../assets/icons/focus.svg");
}

i.icon-folder-added {
  background-image: url("../../assets/icons/folder-added.svg");
}

i.icon-folder-down {
  background-image: url("../../assets/icons/folder-down.svg");
}

i.icon-folder-up {
  background-image: url("../../assets/icons/folder-up.svg");
}

i.icon-folder {
  background-image: url("../../assets/icons/folder.svg");
}

i.icon-frame {
  background-image: url("../../assets/icons/frame.svg");
}

i.icon-geolocation-home {
  background-image: url("../../assets/icons/geolocation-home.svg");
}

i.icon-geolocation {
  background-image: url("../../assets/icons/geolocation.svg");
}

i.icon-ghost {
  background-image: url("../../assets/icons/ghost.svg");
}

i.icon-gift {
  background-image: url("../../assets/icons/gift.svg");
}

i.icon-github {
  background-image: url("../../assets/icons/github.svg");
}

i.icon-glass {
  background-image: url("../../assets/icons/glass.svg");
}

i.icon-google-play {
  background-image: url("../../assets/icons/google-play.svg");
}

i.icon-google {
  background-image: url("../../assets/icons/google.svg");
}

i.icon-graph-2 {
  background-image: url("../../assets/icons/graph-2.svg");
}

i.icon-graph-3 {
  background-image: url("../../assets/icons/graph-3.svg");
}

i.icon-graph-4 {
  background-image: url("../../assets/icons/graph-4.svg");
}

i.icon-graph-up {
  background-image: url("../../assets/icons/graph-up.svg");
}

i.icon-graph {
  background-image: url("../../assets/icons/graph.svg");
}

i.icon-grid-2 {
  background-image: url("../../assets/icons/grid-2.svg");
}

i.icon-grid {
  background-image: url("../../assets/icons/grid.svg");
}

i.icon-handcart {
  background-image: url("../../assets/icons/handcart.svg");
}

i.icon-happyemoji {
  background-image: url("../../assets/icons/happyemoji.svg");
}

i.icon-heart-circle {
  background-image: url("../../assets/icons/heart-circle.svg");
}

i.icon-heart {
  background-image: url("../../assets/icons/heart.svg");
}

i.icon-home-1 {
  background-image: url("../../assets/icons/home-1.svg");
}

i.icon-home-2 {
  background-image: url("../../assets/icons/home-2.svg");
}

i.icon-home-3 {
  background-image: url("../../assets/icons/home-3.svg");
}

i.icon-home {
  background-image: url("../../assets/icons/home.svg");
}

i.icon-html {
  background-image: url("../../assets/icons/html.svg");
}

i.icon-icon {
  background-image: url("../../assets/icons/icon.svg");
}

i.icon-illustrator {
  background-image: url("../../assets/icons/illustrator.svg");
}

i.icon-information-1 {
  background-image: url("../../assets/icons/information-1.svg");
}

i.icon-information-2 {
  background-image: url("../../assets/icons/information-2.svg");
}

i.icon-information-3 {
  background-image: url("../../assets/icons/information-3.svg");
}

i.icon-information-4 {
  background-image: url("../../assets/icons/information-4.svg");
}

i.icon-information {
  background-image: url("../../assets/icons/information.svg");
}

i.icon-instagram {
  background-image: url("../../assets/icons/instagram.svg");
}

i.icon-joystick {
  background-image: url("../../assets/icons/joystick.svg");
}

i.icon-js-2 {
  background-image: url("../../assets/icons/js-2.svg");
}

i.icon-js {
  background-image: url("../../assets/icons/js.svg");
}

i.icon-kanban {
  background-image: url("../../assets/icons/kanban.svg");
}

i.icon-key-square {
  background-image: url("../../assets/icons/key-square.svg");
}

i.icon-key {
  background-image: url("../../assets/icons/key.svg");
}

i.icon-keyboard {
  background-image: url("../../assets/icons/keyboard.svg");
}

i.icon-laptop {
  background-image: url("../../assets/icons/laptop.svg");
}

i.icon-Laravel {
  background-image: url("../../assets/icons/Laravel.svg");
}

i.icon-left-square {
  background-image: url("../../assets/icons/left-square.svg");
}

i.icon-left {
  background-image: url("../../assets/icons/left.svg");
}

i.icon-like-2 {
  background-image: url("../../assets/icons/like-2.svg");
}

i.icon-like-folder {
  background-image: url("../../assets/icons/like-folder.svg");
}

i.icon-like-shapes {
  background-image: url("../../assets/icons/like-shapes.svg");
}

i.icon-like-tag {
  background-image: url("../../assets/icons/like-tag.svg");
}

i.icon-like {
  background-image: url("../../assets/icons/like.svg");
}

i.icon-loading {
  background-image: url("../../assets/icons/loading.svg");
}

i.icon-lock-2 {
  background-image: url("../../assets/icons/lock-2.svg");
}

i.icon-lock-3 {
  background-image: url("../../assets/icons/lock-3.svg");
}

i.icon-lock {
  background-image: url("../../assets/icons/lock.svg");
}

i.icon-logistic {
  background-image: url("../../assets/icons/logistic.svg");
}

i.icon-lots-shopping {
  background-image: url("../../assets/icons/lots-shopping.svg");
}

i.icon-lovely {
  background-image: url("../../assets/icons/lovely.svg");
}

i.icon-lts {
  background-image: url("../../assets/icons/lts.svg");
}

i.icon-magnifier {
  background-image: url("../../assets/icons/magnifier.svg");
}

i.icon-map {
  background-image: url("../../assets/icons/map.svg");
}

i.icon-mask {
  background-image: url("../../assets/icons/mask.svg");
}

i.icon-maximize {
  background-image: url("../../assets/icons/maximize.svg");
}

i.icon-medal-star {
  background-image: url("../../assets/icons/medal-star.svg");
}

i.icon-menu {
  background-image: url("../../assets/icons/menu.svg");
}

i.icon-message-add {
  background-image: url("../../assets/icons/message-add.svg");
}

i.icon-message-edit {
  background-image: url("../../assets/icons/message-edit.svg");
}

i.icon-message-minus {
  background-image: url("../../assets/icons/message-minus.svg");
}

i.icon-message-notify {
  background-image: url("../../assets/icons/message-notify.svg");
}

i.icon-message-programming {
  background-image: url("../../assets/icons/message-programming.svg");
}

i.icon-message-question {
  background-image: url("../../assets/icons/message-question.svg");
}

i.icon-message-text-2 {
  background-image: url("../../assets/icons/message-text-2.svg");
}

i.icon-message-text {
  background-image: url("../../assets/icons/message-text.svg");
}

i.icon-messages {
  background-image: url("../../assets/icons/messages.svg");
}

i.icon-microsoft {
  background-image: url("../../assets/icons/microsoft.svg");
}

i.icon-milk {
  background-image: url("../../assets/icons/milk.svg");
}

i.icon-minus-circle {
  background-image: url("../../assets/icons/minus-circle.svg");
}

i.icon-minus-folder {
  background-image: url("../../assets/icons/minus-folder.svg");
}

i.icon-minus-squared {
  background-image: url("../../assets/icons/minus-squared.svg");
}

i.icon-minus {
  background-image: url("../../assets/icons/minus.svg");
}

i.icon-moon {
  background-image: url("../../assets/icons/moon.svg");
}

i.icon-more-2 {
  background-image: url("../../assets/icons/more-2.svg");
}

i.icon-mouse-circle {
  background-image: url("../../assets/icons/mouse-circle.svg");
}

i.icon-mouse-square {
  background-image: url("../../assets/icons/mouse-square.svg");
}

i.icon-mouse {
  background-image: url("../../assets/icons/mouse.svg");
}

i.icon-nexo {
  background-image: url("../../assets/icons/nexo.svg");
}

i.icon-night-day {
  background-image: url("../../assets/icons/night-day.svg");
}

i.icon-note-2 {
  background-image: url("../../assets/icons/note-2.svg");
}

i.icon-note {
  background-image: url("../../assets/icons/note.svg");
}

i.icon-notepad-bookmark {
  background-image: url("../../assets/icons/notepad-bookmark.svg");
}

i.icon-notepad-edit {
  background-image: url("../../assets/icons/notepad-edit.svg");
}

i.icon-notepad {
  background-image: url("../../assets/icons/notepad.svg");
}

i.icon-notification-1 {
  background-image: url("../../assets/icons/notification-1.svg");
}

i.icon-notification-bing {
  background-image: url("../../assets/icons/notification-bing.svg");
}

i.icon-notification-circle {
  background-image: url("../../assets/icons/notification-circle.svg");
}

i.icon-notification-favorite {
  background-image: url("../../assets/icons/notification-favorite.svg");
}

i.icon-notification-on {
  background-image: url("../../assets/icons/notification-on.svg");
}

i.icon-notification-status {
  background-image: url("../../assets/icons/notification-status.svg");
}

i.icon-notification {
  background-image: url("../../assets/icons/notification.svg");
}

i.icon-ocean {
  background-image: url("../../assets/icons/ocean.svg");
}

i.icon-office-bag {
  background-image: url("../../assets/icons/office-bag.svg");
}

i.icon-package {
  background-image: url("../../assets/icons/package.svg");
}

i.icon-pad {
  background-image: url("../../assets/icons/pad.svg");
}

i.icon-pails {
  background-image: url("../../assets/icons/pails.svg");
}

i.icon-paintbucket {
  background-image: url("../../assets/icons/paintbucket.svg");
}

i.icon-paper-clip {
  background-image: url("../../assets/icons/paper-clip.svg");
}

i.icon-paper-plane {
  background-image: url("../../assets/icons/paper-plane.svg");
}

i.icon-parcel-tracking {
  background-image: url("../../assets/icons/parcel-tracking.svg");
}

i.icon-parcel {
  background-image: url("../../assets/icons/parcel.svg");
}

i.icon-password-check {
  background-image: url("../../assets/icons/password-check.svg");
}

i.icon-paypal {
  background-image: url("../../assets/icons/paypal.svg");
}

i.icon-pencil {
  background-image: url("../../assets/icons/pencil.svg");
}

i.icon-people {
  background-image: url("../../assets/icons/people.svg");
}

i.icon-percentage {
  background-image: url("../../assets/icons/percentage.svg");
}

i.icon-phone {
  background-image: url("../../assets/icons/phone.svg");
}

i.icon-photoshop {
  background-image: url("../../assets/icons/photoshop.svg");
}

i.icon-picture {
  background-image: url("../../assets/icons/picture.svg");
}

i.icon-pill {
  background-image: url("../../assets/icons/pill.svg");
}

i.icon-pin {
  background-image: url("../../assets/icons/pin.svg");
}

i.icon-plus-circle {
  background-image: url("../../assets/icons/plus-circle.svg");
}

i.icon-plus-squared {
  background-image: url("../../assets/icons/plus-squared.svg");
}

i.icon-plus {
  background-image: url("../../assets/icons/plus.svg");
}

i.icon-pointers {
  background-image: url("../../assets/icons/pointers.svg");
}

i.icon-price-tag {
  background-image: url("../../assets/icons/price-tag.svg");
}

i.icon-printer {
  background-image: url("../../assets/icons/printer.svg");
}

i.icon-profile-circle {
  background-image: url("../../assets/icons/profile-circle.svg");
}

i.icon-pulse {
  background-image: url("../../assets/icons/pulse.svg");
}

i.icon-purchase {
  background-image: url("../../assets/icons/purchase.svg");
}

i.icon-python {
  background-image: url("../../assets/icons/python.svg");
}

i.icon-question-2 {
  background-image: url("../../assets/icons/question-2.svg");
}

i.icon-question {
  background-image: url("../../assets/icons/question.svg");
}

i.icon-questionnaire-tablet {
  background-image: url("../../assets/icons/questionnaire-tablet.svg");
}

i.icon-ranking {
  background-image: url("../../assets/icons/ranking.svg");
}

i.icon-react {
  background-image: url("../../assets/icons/react.svg");
}

i.icon-receipt-square {
  background-image: url("../../assets/icons/receipt-square.svg");
}

i.icon-rescue {
  background-image: url("../../assets/icons/rescue.svg");
}

i.icon-right-left {
  background-image: url("../../assets/icons/right-left.svg");
}

i.icon-right-square {
  background-image: url("../../assets/icons/right-square.svg");
}

i.icon-right {
  background-image: url("../../assets/icons/right.svg");
}

i.icon-rocket {
  background-image: url("../../assets/icons/rocket.svg");
}

i.icon-route {
  background-image: url("../../assets/icons/route.svg");
}

i.icon-router {
  background-image: url("../../assets/icons/router.svg");
}

i.icon-row-horizontal {
  background-image: url("../../assets/icons/row-horizontal.svg");
}

i.icon-row-vertical {
  background-image: url("../../assets/icons/row-vertical.svg");
}

i.icon-safe-home {
  background-image: url("../../assets/icons/safe-home.svg");
}

i.icon-satellite {
  background-image: url("../../assets/icons/satellite.svg");
}

i.icon-save-2 {
  background-image: url("../../assets/icons/save-2.svg");
}

i.icon-save-deposit {
  background-image: url("../../assets/icons/save-deposit.svg");
}

i.icon-scan-barcode {
  background-image: url("../../assets/icons/scan-barcode.svg");
}

i.icon-screen {
  background-image: url("../../assets/icons/screen.svg");
}

i.icon-scroll {
  background-image: url("../../assets/icons/scroll.svg");
}

i.icon-search-list {
  background-image: url("../../assets/icons/search-list.svg");
}

i.icon-security-user {
  background-image: url("../../assets/icons/security-user.svg");
}

i.icon-setting-2 {
  background-image: url("../../assets/icons/setting-2.svg");
}

i.icon-setting-3 {
  background-image: url("../../assets/icons/setting-3.svg");
}

i.icon-setting-4 {
  background-image: url("../../assets/icons/setting-4.svg");
}

i.icon-setting {
  background-image: url("../../assets/icons/setting.svg");
}

i.icon-share {
  background-image: url("../../assets/icons/share.svg");
}

i.icon-shield-cross {
  background-image: url("../../assets/icons/shield-cross.svg");
}

i.icon-shield-search {
  background-image: url("../../assets/icons/shield-search.svg");
}

i.icon-shield-slash {
  background-image: url("../../assets/icons/shield-slash.svg");
}

i.icon-shield-tick {
  background-image: url("../../assets/icons/shield-tick.svg");
}

i.icon-shield {
  background-image: url("../../assets/icons/shield.svg");
}

i.icon-ship {
  background-image: url("../../assets/icons/ship.svg");
}

i.icon-shop {
  background-image: url("../../assets/icons/shop.svg");
}

i.icon-simcard-2 {
  background-image: url("../../assets/icons/simcard-2.svg");
}

i.icon-simcard {
  background-image: url("../../assets/icons/simcard.svg");
}

i.icon-size {
  background-image: url("../../assets/icons/size.svg");
}

i.icon-slack {
  background-image: url("../../assets/icons/slack.svg");
}

i.icon-slider-horizontal-2 {
  background-image: url("../../assets/icons/slider-horizontal-2.svg");
}

i.icon-slider-horizontal {
  background-image: url("../../assets/icons/slider-horizontal.svg");
}

i.icon-slider-vertica {
  background-image: url("../../assets/icons/slider-vertica.svg");
}

i.icon-slider-vertical {
  background-image: url("../../assets/icons/slider-vertical.svg");
}

i.icon-slider {
  background-image: url("../../assets/icons/slider.svg");
}

i.icon-sms {
  background-image: url("../../assets/icons/sms.svg");
}

i.icon-snapchat {
  background-image: url("../../assets/icons/snapchat.svg");
}

i.icon-social-media {
  background-image: url("../../assets/icons/social-media.svg");
}

i.icon-soft-2 {
  background-image: url("../../assets/icons/soft-2.svg");
}

i.icon-soft-3 {
  background-image: url("../../assets/icons/soft-3.svg");
}

i.icon-soft {
  background-image: url("../../assets/icons/soft.svg");
}

i.icon-some-files {
  background-image: url("../../assets/icons/some-files.svg");
}

i.icon-sort {
  background-image: url("../../assets/icons/sort.svg");
}

i.icon-speaker {
  background-image: url("../../assets/icons/speaker.svg");
}

i.icon-spotify {
  background-image: url("../../assets/icons/spotify.svg");
}

i.icon-spring-framework {
  background-image: url("../../assets/icons/spring-framework.svg");
}

i.icon-square-brackets {
  background-image: url("../../assets/icons/square-brackets.svg");
}

i.icon-star {
  background-image: url("../../assets/icons/star.svg");
}

i.icon-status {
  background-image: url("../../assets/icons/status.svg");
}

i.icon-subtitle {
  background-image: url("../../assets/icons/subtitle.svg");
}

i.icon-sun {
  background-image: url("../../assets/icons/sun.svg");
}

i.icon-support {
  background-image: url("../../assets/icons/support.svg");
}

i.icon-switch {
  background-image: url("../../assets/icons/switch.svg");
}

i.icon-syringe {
  background-image: url("../../assets/icons/syringe.svg");
}

i.icon-tab-tablet {
  background-image: url("../../assets/icons/tab-tablet.svg");
}

i.icon-tablet-delete {
  background-image: url("../../assets/icons/tablet-delete.svg");
}

i.icon-tablet-down {
  background-image: url("../../assets/icons/tablet-down.svg");
}

i.icon-tablet-ok {
  background-image: url("../../assets/icons/tablet-ok.svg");
}

i.icon-tablet-text-down {
  background-image: url("../../assets/icons/tablet-text-down.svg");
}

i.icon-tablet-text-up {
  background-image: url("../../assets/icons/tablet-text-up.svg");
}

i.icon-tablet-up {
  background-image: url("../../assets/icons/tablet-up.svg");
}

i.icon-tablet {
  background-image: url("../../assets/icons/tablet.svg");
}

i.icon-tag-cross {
  background-image: url("../../assets/icons/tag-cross.svg");
}

i.icon-tag {
  background-image: url("../../assets/icons/tag.svg");
}

i.icon-teacher {
  background-image: url("../../assets/icons/teacher.svg");
}

i.icon-technology-1 {
  background-image: url("../../assets/icons/technology-1.svg");
}

i.icon-technology-2 {
  background-image: url("../../assets/icons/technology-2.svg");
}

i.icon-technology-3 {
  background-image: url("../../assets/icons/technology-3.svg");
}

i.icon-technology-4 {
  background-image: url("../../assets/icons/technology-4.svg");
}

i.icon-telephone-geolocation {
  background-image: url("../../assets/icons/telephone-geolocation.svg");
}

i.icon-test-tubes {
  background-image: url("../../assets/icons/test-tubes.svg");
}

i.icon-text-bold {
  background-image: url("../../assets/icons/text-bold.svg");
}

i.icon-text-circle {
  background-image: url("../../assets/icons/text-circle.svg");
}

i.icon-text-italic {
  background-image: url("../../assets/icons/text-italic.svg");
}

i.icon-text-number {
  background-image: url("../../assets/icons/text-number.svg");
}

i.icon-text-strikethrough {
  background-image: url("../../assets/icons/text-strikethrough.svg");
}

i.icon-text-underline {
  background-image: url("../../assets/icons/text-underline.svg");
}

i.icon-text {
  background-image: url("../../assets/icons/text.svg");
}

i.icon-textalign-center {
  background-image: url("../../assets/icons/textalign-center.svg");
}

i.icon-textalign-justifycenter {
  background-image: url("../../assets/icons/textalign-justifycenter.svg");
}

i.icon-textalign-left {
  background-image: url("../../assets/icons/textalign-left.svg");
}

i.icon-textalign-right {
  background-image: url("../../assets/icons/textalign-right.svg");
}

i.icon-thermometer {
  background-image: url("../../assets/icons/thermometer.svg");
}

i.icon-theta-theta {
  background-image: url("../../assets/icons/theta-theta.svg");
}

i.icon-tiktok {
  background-image: url("../../assets/icons/tiktok.svg");
}

i.icon-time {
  background-image: url("../../assets/icons/time.svg");
}

i.icon-timer {
  background-image: url("../../assets/icons/timer.svg");
}

i.icon-to-left {
  background-image: url("../../assets/icons/to-left.svg");
}

i.icon-to-right {
  background-image: url("../../assets/icons/to-right.svg");
}

i.icon-toggle-off-circle {
  background-image: url("../../assets/icons/toggle-off-circle.svg");
}

i.icon-toggle-off {
  background-image: url("../../assets/icons/toggle-off.svg");
}

i.icon-toggle-on-circle {
  background-image: url("../../assets/icons/toggle-on-circle.svg");
}

i.icon-toggle-on {
  background-image: url("../../assets/icons/toggle-on.svg");
}

i.icon-trash-square {
  background-image: url("../../assets/icons/trash-square.svg");
}

i.icon-trash {
  background-image: url("../../assets/icons/trash.svg");
}

i.icon-tree {
  background-image: url("../../assets/icons/tree.svg");
}

i.icon-trello {
  background-image: url("../../assets/icons/trello.svg");
}

i.icon-ts {
  background-image: url("../../assets/icons/ts.svg");
}

i.icon-twitch {
  background-image: url("../../assets/icons/twitch.svg");
}

i.icon-twitter {
  background-image: url("../../assets/icons/twitter.svg");
}

i.icon-two-credit-cart {
  background-image: url("../../assets/icons/two-credit-cart.svg");
}

i.icon-underlining {
  background-image: url("../../assets/icons/underlining.svg");
}

i.icon-up-diagonal {
  background-image: url("../../assets/icons/up-diagonal.svg");
}

i.icon-up-down {
  background-image: url("../../assets/icons/up-down.svg");
}

i.icon-up-square {
  background-image: url("../../assets/icons/up-square.svg");
}

i.icon-up {
  background-image: url("../../assets/icons/up.svg");
}

i.icon-update-file {
  background-image: url("../../assets/icons/update-file.svg");
}

i.icon-update-folder {
  background-image: url("../../assets/icons/update-folder.svg");
}

i.icon-user-edit {
  background-image: url("../../assets/icons/user-edit.svg");
}

i.icon-user-square {
  background-image: url("../../assets/icons/user-square.svg");
}

i.icon-user-tick {
  background-image: url("../../assets/icons/user-tick.svg");
}

i.icon-user {
  background-image: url("../../assets/icons/user.svg");
}

i.icon-users {
  background-image: url("../../assets/icons/users.svg");
}

i.icon-verify {
  background-image: url("../../assets/icons/verify.svg");
}

i.icon-vibe-vibe {
  background-image: url("../../assets/icons/vibe-vibe.svg");
}

i.icon-virus {
  background-image: url("../../assets/icons/virus.svg");
}

i.icon-vue {
  background-image: url("../../assets/icons/vue.svg");
}

i.icon-vuesax {
  background-image: url("../../assets/icons/vuesax.svg");
}

i.icon-wallet {
  background-image: url("../../assets/icons/wallet.svg");
}

i.icon-wanchain-wan {
  background-image: url("../../assets/icons/wanchain-wan.svg");
}

i.icon-watch {
  background-image: url("../../assets/icons/watch.svg");
}

i.icon-whatsapp {
  background-image: url("../../assets/icons/whatsapp.svg");
}

i.icon-wifi-home {
  background-image: url("../../assets/icons/wifi-home.svg");
}

i.icon-wifi-square {
  background-image: url("../../assets/icons/wifi-square.svg");
}

i.icon-wifi {
  background-image: url("../../assets/icons/wifi.svg");
}

i.icon-wireframe {
  background-image: url("../../assets/icons/wireframe.svg");
}

i.icon-wlan {
  background-image: url("../../assets/icons/wlan.svg");
}

i.icon-wrench {
  background-image: url("../../assets/icons/wrench.svg");
}

i.icon-xaomi {
  background-image: url("../../assets/icons/xaomi.svg");
}

i.icon-xd {
  background-image: url("../../assets/icons/xd.svg");
}

i.icon-xmr {
  background-image: url("../../assets/icons/xmr.svg");
}

i.icon-yii {
  background-image: url("../../assets/icons/yii.svg");
}

i.icon-youtube {
  background-image: url("../../assets/icons/youtube.svg");
}

/*# sourceMappingURL=index.css.map */
