@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* Box sizing rules */
* {
  box-sizing: border-box;
  position: relative;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
  padding-left: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Set core root defaults */
html,
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html,
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/**
 * color-variant($color, $weight)
 *
 * @description
 *  - Bu fonksiyon, verilen ana rengin farklı tonlarını oluşturur.
 *  - Tailwind gibi 100-900 arasında varyasyonlar üretir.
 *  - Açık tonlar için beyaz ile karıştırır (100-400).
 *  - Koyu tonlar için siyah ile karıştırır (600-900).
 *  - 500 seviyesi ana rengin kendisidir.
 *
 * @param {Color} $color - Ana renk (örneğin: #23a6f0)
 * @param {Number} $weight - Renk tonu (100, 200, 300, ..., 900)
 *
 * @returns {Color} - Hesaplanmış renk varyasyonu.
 *
 * @example
 *  $primary-100: color-variant($primary, 100); // Daha açık mavi
 *  $primary-900: color-variant($primary, 900); // Daha koyu mavi
 */
* {
  font-family: Inter, serif;
}

.text-xs {
  font-size: 0.75rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-md {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-4xl {
  font-size: 2.25rem;
}

.text-5xl {
  font-size: 3rem;
}

.text-6xl {
  font-size: 3.75rem;
}

.text-7xl {
  font-size: 4.5rem;
}

.text-8xl {
  font-size: 6rem;
}

.text-9xl {
  font-size: 8rem;
}

.text-xs {
  line-height: 1.3333333333, 2;
}

.text-sm {
  line-height: 1.4285714286, 2;
}

.text-md {
  line-height: 1.5, 2;
}

.text-lg {
  line-height: 1.5555555556, 2;
}

.text-xl {
  line-height: 1.4, 2;
}

.text-2xl {
  line-height: 1.3333333333, 2;
}

.text-3xl {
  line-height: 1.2, 2;
}

.text-4xl {
  line-height: 1.1111111111, 2;
}

.text-5xl {
  line-height: 1, 2;
}

.text-6xl {
  line-height: 1, 2;
}

.text-7xl {
  line-height: 1, 2;
}

.text-8xl {
  line-height: 1, 2;
}

.text-9xl {
  line-height: 1, 2;
}

@font-face {
  font-family: "keenicons-solid";
  src: url("../../assets/solid/keenicons-solid.ttf") format("truetype"), url("../../assets/solid/keenicons-solid.woff") format("woff"), url("../../assets/solid/keenicons-solid.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "keenicons-solid" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-flex;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
}

.icon-abstract-1.icon:before {
  content: "\e900";
}

.icon-abstract-2.icon:before {
  content: "\e901";
}

.icon-abstract-3.icon:before {
  content: "\e902";
}

.icon-abstract-4.icon:before {
  content: "\e903";
}

.icon-abstract-5.icon:before {
  content: "\e904";
}

.icon-abstract-6.icon:before {
  content: "\e905";
}

.icon-abstract-7.icon:before {
  content: "\e906";
}

.icon-abstract-8.icon:before {
  content: "\e907";
}

.icon-abstract-9.icon:before {
  content: "\e908";
}

.icon-abstract-10.icon:before {
  content: "\e909";
}

.icon-abstract-11.icon:before {
  content: "\e90a";
}

.icon-abstract-12.icon:before {
  content: "\e90b";
}

.icon-abstract-13.icon:before {
  content: "\e90c";
}

.icon-abstract-14.icon:before {
  content: "\e90d";
}

.icon-abstract-15.icon:before {
  content: "\e90e";
}

.icon-abstract-16.icon:before {
  content: "\e90f";
}

.icon-abstract-17.icon:before {
  content: "\e910";
}

.icon-abstract-18.icon:before {
  content: "\e911";
}

.icon-abstract-19.icon:before {
  content: "\e912";
}

.icon-abstract-20.icon:before {
  content: "\e913";
}

.icon-abstract-21.icon:before {
  content: "\e914";
}

.icon-abstract-22.icon:before {
  content: "\e915";
}

.icon-abstract-23.icon:before {
  content: "\e916";
}

.icon-abstract-24.icon:before {
  content: "\e917";
}

.icon-abstract-25.icon:before {
  content: "\e918";
}

.icon-abstract-26.icon:before {
  content: "\e919";
}

.icon-abstract-27.icon:before {
  content: "\e91a";
}

.icon-abstract-28.icon:before {
  content: "\e91b";
}

.icon-abstract-29.icon:before {
  content: "\e91c";
}

.icon-abstract-30.icon:before {
  content: "\e91d";
}

.icon-abstract-31.icon:before {
  content: "\e91e";
}

.icon-abstract-32.icon:before {
  content: "\e91f";
}

.icon-abstract-33.icon:before {
  content: "\e920";
}

.icon-abstract-34.icon:before {
  content: "\e921";
}

.icon-abstract-35.icon:before {
  content: "\e922";
}

.icon-abstract-36.icon:before {
  content: "\e923";
}

.icon-abstract-37.icon:before {
  content: "\e924";
}

.icon-abstract-38.icon:before {
  content: "\e925";
}

.icon-abstract-39.icon:before {
  content: "\e926";
}

.icon-abstract-40.icon:before {
  content: "\e927";
}

.icon-abstract-41.icon:before {
  content: "\e928";
}

.icon-abstract-42.icon:before {
  content: "\e929";
}

.icon-abstract-43.icon:before {
  content: "\e92a";
}

.icon-abstract-44.icon:before {
  content: "\e92b";
}

.icon-abstract-45.icon:before {
  content: "\e92c";
}

.icon-abstract-46.icon:before {
  content: "\e92d";
}

.icon-abstract-47.icon:before {
  content: "\e92e";
}

.icon-abstract-48.icon:before {
  content: "\e92f";
}

.icon-abstract-49.icon:before {
  content: "\e930";
}

.icon-abstract.icon:before {
  content: "\e931";
}

.icon-add-files.icon:before {
  content: "\e932";
}

.icon-add-folder.icon:before {
  content: "\e933";
}

.icon-add-notepad.icon:before {
  content: "\e934";
}

.icon-additem.icon:before {
  content: "\e935";
}

.icon-address-book.icon:before {
  content: "\e936";
}

.icon-airplane-square.icon:before {
  content: "\e937";
}

.icon-airplane.icon:before {
  content: "\e938";
}

.icon-airpod.icon:before {
  content: "\e939";
}

.icon-android.icon:before {
  content: "\e93a";
}

.icon-angular.icon:before {
  content: "\e93b";
}

.icon-apple.icon:before {
  content: "\e93c";
}

.icon-archive-tick.icon:before {
  content: "\e93d";
}

.icon-archive.icon:before {
  content: "\e93e";
}

.icon-arrow-circle-left.icon:before {
  content: "\e93f";
}

.icon-arrow-circle-right.icon:before {
  content: "\e940";
}

.icon-arrow-down-left.icon:before {
  content: "\e941";
}

.icon-arrow-down-refraction.icon:before {
  content: "\e942";
}

.icon-arrow-down-right.icon:before {
  content: "\e943";
}

.icon-arrow-down.icon:before {
  content: "\e944";
}

.icon-arrow-left.icon:before {
  content: "\e945";
}

.icon-arrow-mix.icon:before {
  content: "\e946";
}

.icon-arrow-right-left.icon:before {
  content: "\e947";
}

.icon-arrow-right.icon:before {
  content: "\e948";
}

.icon-arrow-two-diagonals.icon:before {
  content: "\e949";
}

.icon-arrow-up-down.icon:before {
  content: "\e94a";
}

.icon-arrow-up-left.icon:before {
  content: "\e94b";
}

.icon-arrow-up-refraction.icon:before {
  content: "\e94c";
}

.icon-arrow-up-right.icon:before {
  content: "\e94d";
}

.icon-arrow-up.icon:before {
  content: "\e94e";
}

.icon-arrow-zigzag.icon:before {
  content: "\e94f";
}

.icon-arrows-circle.icon:before {
  content: "\e950";
}

.icon-arrows-loop.icon:before {
  content: "\e951";
}

.icon-artificial-intelligence.icon:before {
  content: "\e952";
}

.icon-autobrightness.icon:before {
  content: "\e953";
}

.icon-avalanche-avax.icon:before {
  content: "\e954";
}

.icon-award.icon:before {
  content: "\e955";
}

.icon-badge.icon:before {
  content: "\e956";
}

.icon-bandage.icon:before {
  content: "\e957";
}

.icon-bank.icon:before {
  content: "\e958";
}

.icon-bar-chart.icon:before {
  content: "\e959";
}

.icon-barcode.icon:before {
  content: "\e95a";
}

.icon-basket-ok.icon:before {
  content: "\e95b";
}

.icon-basket.icon:before {
  content: "\e95c";
}

.icon-behance.icon:before {
  content: "\e95d";
}

.icon-bill.icon:before {
  content: "\e95e";
}

.icon-binance-usd-busd.icon:before {
  content: "\e95f";
}

.icon-binance.icon:before {
  content: "\e960";
}

.icon-bitcoin.icon:before {
  content: "\e961";
}

.icon-black-down.icon:before {
  content: "\e962";
}

.icon-black-left-line.icon:before {
  content: "\e963";
}

.icon-black-left.icon:before {
  content: "\e964";
}

.icon-black-right-line.icon:before {
  content: "\e965";
}

.icon-black-right.icon:before {
  content: "\e966";
}

.icon-black-up.icon:before {
  content: "\e967";
}

.icon-bluetooth.icon:before {
  content: "\e968";
}

.icon-book-open.icon:before {
  content: "\e969";
}

.icon-book-square.icon:before {
  content: "\e96a";
}

.icon-book.icon:before {
  content: "\e96b";
}

.icon-bookmark-2.icon:before {
  content: "\e96c";
}

.icon-bookmark.icon:before {
  content: "\e96d";
}

.icon-bootstrap.icon:before {
  content: "\e96e";
}

.icon-briefcase.icon:before {
  content: "\e96f";
}

.icon-brifecase-cros.icon:before {
  content: "\e970";
}

.icon-brifecase-tick.icon:before {
  content: "\e971";
}

.icon-brifecase-timer.icon:before {
  content: "\e972";
}

.icon-brush.icon:before {
  content: "\e973";
}

.icon-bucket-square.icon:before {
  content: "\e974";
}

.icon-bucket.icon:before {
  content: "\e975";
}

.icon-burger-menu-1.icon:before {
  content: "\e976";
}

.icon-burger-menu-2.icon:before {
  content: "\e977";
}

.icon-burger-menu-3.icon:before {
  content: "\e978";
}

.icon-burger-menu-4.icon:before {
  content: "\e979";
}

.icon-burger-menu-5.icon:before {
  content: "\e97a";
}

.icon-burger-menu-6.icon:before {
  content: "\e97b";
}

.icon-burger-menu.icon:before {
  content: "\e97c";
}

.icon-bus.icon:before {
  content: "\e97d";
}

.icon-calculator.icon:before {
  content: "\e97e";
}

.icon-calculatoror.icon:before {
  content: "\e97f";
}

.icon-calendar-2.icon:before {
  content: "\e980";
}

.icon-calendar-8.icon:before {
  content: "\e981";
}

.icon-calendar-add.icon:before {
  content: "\e982";
}

.icon-calendar-edit.icon:before {
  content: "\e983";
}

.icon-calendar-remove.icon:before {
  content: "\e984";
}

.icon-calendar-search.icon:before {
  content: "\e985";
}

.icon-calendar-tick.icon:before {
  content: "\e986";
}

.icon-calendar.icon:before {
  content: "\e987";
}

.icon-call.icon:before {
  content: "\e988";
}

.icon-capsule.icon:before {
  content: "\e989";
}

.icon-car.icon:before {
  content: "\e98a";
}

.icon-category.icon:before {
  content: "\e98b";
}

.icon-cd.icon:before {
  content: "\e98c";
}

.icon-celsius-cel.icon:before {
  content: "\e98d";
}

.icon-chart-line-down-2.icon:before {
  content: "\e98e";
}

.icon-chart-line-down.icon:before {
  content: "\e98f";
}

.icon-chart-line-star.icon:before {
  content: "\e990";
}

.icon-chart-line-up-2.icon:before {
  content: "\e991";
}

.icon-chart-line-up.icon:before {
  content: "\e992";
}

.icon-chart-line.icon:before {
  content: "\e993";
}

.icon-chart-pie-3.icon:before {
  content: "\e994";
}

.icon-chart-pie-4.icon:before {
  content: "\e995";
}

.icon-chart-pie-simple.icon:before {
  content: "\e996";
}

.icon-chart-pie-too.icon:before {
  content: "\e997";
}

.icon-chart-simple-2.icon:before {
  content: "\e998";
}

.icon-chart-simple-3.icon:before {
  content: "\e999";
}

.icon-chart-simple.icon:before {
  content: "\e99a";
}

.icon-chart.icon:before {
  content: "\e99b";
}

.icon-check-circle.icon:before {
  content: "\e99c";
}

.icon-check-squared.icon:before {
  content: "\e99d";
}

.icon-check.icon:before {
  content: "\e99e";
}

.icon-cheque.icon:before {
  content: "\e99f";
}

.icon-chrome.icon:before {
  content: "\e9a0";
}

.icon-classmates.icon:before {
  content: "\e9a1";
}

.icon-click.icon:before {
  content: "\e9a2";
}

.icon-clipboard.icon:before {
  content: "\e9a3";
}

.icon-cloud-add.icon:before {
  content: "\e9a4";
}

.icon-cloud-change.icon:before {
  content: "\e9a5";
}

.icon-cloud-download.icon:before {
  content: "\e9a6";
}

.icon-cloud.icon:before {
  content: "\e9a7";
}

.icon-code.icon:before {
  content: "\e9a8";
}

.icon-coffee.icon:before {
  content: "\e9a9";
}

.icon-color-swatch.icon:before {
  content: "\e9aa";
}

.icon-colors-square.icon:before {
  content: "\e9ab";
}

.icon-compass.icon:before {
  content: "\e9ac";
}

.icon-copy-success.icon:before {
  content: "\e9ad";
}

.icon-copy.icon:before {
  content: "\e9ae";
}

.icon-courier-express.icon:before {
  content: "\e9af";
}

.icon-courier.icon:before {
  content: "\e9b0";
}

.icon-credit-cart.icon:before {
  content: "\e9b1";
}

.icon-cross-circle.icon:before {
  content: "\e9b2";
}

.icon-cross-square.icon:before {
  content: "\e9b3";
}

.icon-cross.icon:before {
  content: "\e9b4";
}

.icon-crown-2.icon:before {
  content: "\e9b5";
}

.icon-crown.icon:before {
  content: "\e9b6";
}

.icon-css.icon:before {
  content: "\e9b7";
}

.icon-cube-2.icon:before {
  content: "\e9b8";
}

.icon-cube-3.icon:before {
  content: "\e9b9";
}

.icon-cup.icon:before {
  content: "\e9ba";
}

.icon-cursor.icon:before {
  content: "\e9bb";
}

.icon-dash.icon:before {
  content: "\e9bc";
}

.icon-data.icon:before {
  content: "\e9bd";
}

.icon-delete-files.icon:before {
  content: "\e9be";
}

.icon-delete-folder.icon:before {
  content: "\e9bf";
}

.icon-delivery-2.icon:before {
  content: "\e9c0";
}

.icon-delivery-3.icon:before {
  content: "\e9c1";
}

.icon-delivery-24.icon:before {
  content: "\e9c2";
}

.icon-delivery-door.icon:before {
  content: "\e9c3";
}

.icon-delivery-geolocation.icon:before {
  content: "\e9c4";
}

.icon-delivery-time.icon:before {
  content: "\e9c5";
}

.icon-delivery.icon:before {
  content: "\e9c6";
}

.icon-design-1.icon:before {
  content: "\e9c7";
}

.icon-design-2.icon:before {
  content: "\e9c8";
}

.icon-desktop-mobile.icon:before {
  content: "\e9c9";
}

.icon-devices-2.icon:before {
  content: "\e9ca";
}

.icon-devices.icon:before {
  content: "\e9cb";
}

.icon-diamonds.icon:before {
  content: "\e9cc";
}

.icon-directbox-default.icon:before {
  content: "\e9cd";
}

.icon-disconnect.icon:before {
  content: "\e9ce";
}

.icon-discount.icon:before {
  content: "\e9cf";
}

.icon-disguise.icon:before {
  content: "\e9d0";
}

.icon-disk.icon:before {
  content: "\e9d1";
}

.icon-dislike.icon:before {
  content: "\e9d2";
}

.icon-dj.icon:before {
  content: "\e9d3";
}

.icon-document.icon:before {
  content: "\e9d4";
}

.icon-double-check.icon:before {
  content: "\e9d5";
}

.icon-dollar.icon:before {
  content: "\e9d6";
}

.icon-dots-circle-vertical.icon:before {
  content: "\e9d7";
}

.icon-dots-circle.icon:before {
  content: "\e9d8";
}

.icon-dots-horizontal.icon:before {
  content: "\e9d9";
}

.icon-dots-square-vertical.icon:before {
  content: "\e9da";
}

.icon-dots-square.icon:before {
  content: "\e9db";
}

.icon-dots-vertical.icon:before {
  content: "\e9dc";
}

.icon-double-down.icon:before {
  content: "\e9dd";
}

.icon-double-left-arrow.icon:before {
  content: "\e9de";
}

.icon-double-left.icon:before {
  content: "\e9df";
}

.icon-double-right-arrow.icon:before {
  content: "\e9e0";
}

.icon-double-right.icon:before {
  content: "\e9e1";
}

.icon-double-up.icon:before {
  content: "\e9e2";
}

.icon-down-square.icon:before {
  content: "\e9e3";
}

.icon-down.icon:before {
  content: "\e9e4";
}

.icon-dribbble.icon:before {
  content: "\e9e5";
}

.icon-drop.icon:before {
  content: "\e9e6";
}

.icon-dropbox.icon:before {
  content: "\e9e7";
}

.icon-duble-check-circle.icon:before {
  content: "\e9e8";
}

.icon-educare-ekt.icon:before {
  content: "\e9e9";
}

.icon-electricity.icon:before {
  content: "\e9ea";
}

.icon-electronic-clock.icon:before {
  content: "\e9eb";
}

.icon-element-1.icon:before {
  content: "\e9ec";
}

.icon-element-2.icon:before {
  content: "\e9ed";
}

.icon-element-3.icon:before {
  content: "\e9ee";
}

.icon-element-4.icon:before {
  content: "\e9ef";
}

.icon-element-5.icon:before {
  content: "\e9f0";
}

.icon-element-6.icon:before {
  content: "\e9f1";
}

.icon-element-7.icon:before {
  content: "\e9f2";
}

.icon-element-8.icon:before {
  content: "\e9f3";
}

.icon-element-9.icon:before {
  content: "\e9f4";
}

.icon-element-10.icon:before {
  content: "\e9f5";
}

.icon-element-11.icon:before {
  content: "\e9f6";
}

.icon-element-12.icon:before {
  content: "\e9f7";
}

.icon-element-equal.icon:before {
  content: "\e9f8";
}

.icon-element-plus.icon:before {
  content: "\e9f9";
}

.icon-emoji-happy.icon:before {
  content: "\e9fa";
}

.icon-enjin-coin-enj.icon:before {
  content: "\e9fb";
}

.icon-ensure.icon:before {
  content: "\e9fc";
}

.icon-entrance-left.icon:before {
  content: "\e9fd";
}

.icon-entrance-right.icon:before {
  content: "\e9fe";
}

.icon-eraser.icon:before {
  content: "\e9ff";
}

.icon-euro.icon:before {
  content: "\ea00";
}

.icon-exit-down.icon:before {
  content: "\ea01";
}

.icon-exit-left.icon:before {
  content: "\ea02";
}

.icon-exit-right-corner.icon:before {
  content: "\ea03";
}

.icon-exit-right.icon:before {
  content: "\ea04";
}

.icon-exit-up.icon:before {
  content: "\ea05";
}

.icon-external-drive.icon:before {
  content: "\ea06";
}

.icon-eye-slash.icon:before {
  content: "\ea07";
}

.icon-eye.icon:before {
  content: "\ea08";
}

.icon-face-id.icon:before {
  content: "\ea09";
}

.icon-facebook.icon:before {
  content: "\ea0a";
}

.icon-fasten.icon:before {
  content: "\ea0b";
}

.icon-fatrows.icon:before {
  content: "\ea0c";
}

.icon-feather.icon:before {
  content: "\ea0d";
}

.icon-figma.icon:before {
  content: "\ea0e";
}

.icon-file-added.icon:before {
  content: "\ea0f";
}

.icon-file-deleted.icon:before {
  content: "\ea10";
}

.icon-file-down.icon:before {
  content: "\ea11";
}

.icon-file-left.icon:before {
  content: "\ea12";
}

.icon-file-right.icon:before {
  content: "\ea13";
}

.icon-file-sheet.icon:before {
  content: "\ea14";
}

.icon-file-up.icon:before {
  content: "\ea15";
}

.icon-files.icon:before {
  content: "\ea16";
}

.icon-filter-edit.icon:before {
  content: "\ea17";
}

.icon-filter-search.icon:before {
  content: "\ea18";
}

.icon-filter-square.icon:before {
  content: "\ea19";
}

.icon-filter-tablet.icon:before {
  content: "\ea1a";
}

.icon-filter-tick.icon:before {
  content: "\ea1b";
}

.icon-filter.icon:before {
  content: "\ea1c";
}

.icon-financial-schedule.icon:before {
  content: "\ea1d";
}

.icon-fingerprint-scanning.icon:before {
  content: "\ea1e";
}

.icon-flag.icon:before {
  content: "\ea1f";
}

.icon-flash-circle.icon:before {
  content: "\ea20";
}

.icon-flask.icon:before {
  content: "\ea21";
}

.icon-focus.icon:before {
  content: "\ea22";
}

.icon-folder-added.icon:before {
  content: "\ea23";
}

.icon-folder-down.icon:before {
  content: "\ea24";
}

.icon-folder-up.icon:before {
  content: "\ea25";
}

.icon-folder.icon:before {
  content: "\ea26";
}

.icon-frame.icon:before {
  content: "\ea27";
}

.icon-geolocation-home.icon:before {
  content: "\ea28";
}

.icon-geolocation.icon:before {
  content: "\ea29";
}

.icon-ghost.icon:before {
  content: "\ea2a";
}

.icon-gift.icon:before {
  content: "\ea2b";
}

.icon-github.icon:before {
  content: "\ea2c";
}

.icon-glass.icon:before {
  content: "\ea2d";
}

.icon-google-play.icon:before {
  content: "\ea2e";
}

.icon-google.icon:before {
  content: "\ea2f";
}

.icon-graph-2.icon:before {
  content: "\ea30";
}

.icon-graph-3.icon:before {
  content: "\ea31";
}

.icon-graph-4.icon:before {
  content: "\ea32";
}

.icon-graph-up.icon:before {
  content: "\ea33";
}

.icon-graph.icon:before {
  content: "\ea34";
}

.icon-grid-2.icon:before {
  content: "\ea35";
}

.icon-grid.icon:before {
  content: "\ea36";
}

.icon-handcart.icon:before {
  content: "\ea37";
}

.icon-happyemoji.icon:before {
  content: "\ea38";
}

.icon-heart-circle.icon:before {
  content: "\ea39";
}

.icon-heart.icon:before {
  content: "\ea3a";
}

.icon-home-1.icon:before {
  content: "\ea3b";
}

.icon-home-2.icon:before {
  content: "\ea3c";
}

.icon-home-3.icon:before {
  content: "\ea3d";
}

.icon-home.icon:before {
  content: "\ea3e";
}

.icon-html.icon:before {
  content: "\ea3f";
}

.icon-icon.icon:before {
  content: "\ea40";
}

.icon-illustrator.icon:before {
  content: "\ea41";
}

.icon-information-1.icon:before {
  content: "\ea42";
}

.icon-information-2.icon:before {
  content: "\ea43";
}

.icon-information-3.icon:before {
  content: "\ea44";
}

.icon-information-4.icon:before {
  content: "\ea45";
}

.icon-information.icon:before {
  content: "\ea46";
}

.icon-instagram.icon:before {
  content: "\ea47";
}

.icon-joystick.icon:before {
  content: "\ea48";
}

.icon-js-2.icon:before {
  content: "\ea49";
}

.icon-js.icon:before {
  content: "\ea4a";
}

.icon-kanban.icon:before {
  content: "\ea4b";
}

.icon-key-square.icon:before {
  content: "\ea4c";
}

.icon-key.icon:before {
  content: "\ea4d";
}

.icon-keyboard.icon:before {
  content: "\ea4e";
}

.icon-laptop.icon:before {
  content: "\ea4f";
}

.icon-laravel.icon:before {
  content: "\ea50";
}

.icon-left-square.icon:before {
  content: "\ea51";
}

.icon-left.icon:before {
  content: "\ea52";
}

.icon-like-2.icon:before {
  content: "\ea53";
}

.icon-like-folder.icon:before {
  content: "\ea54";
}

.icon-like-shapes.icon:before {
  content: "\ea55";
}

.icon-like-tag.icon:before {
  content: "\ea56";
}

.icon-like.icon:before {
  content: "\ea57";
}

.icon-loading.icon:before {
  content: "\ea58";
}

.icon-lock-2.icon:before {
  content: "\ea59";
}

.icon-lock-3.icon:before {
  content: "\ea5a";
}

.icon-lock.icon:before {
  content: "\ea5b";
}

.icon-logistic.icon:before {
  content: "\ea5c";
}

.icon-lots-shopping.icon:before {
  content: "\ea5d";
}

.icon-lovely.icon:before {
  content: "\ea5e";
}

.icon-lts.icon:before {
  content: "\ea5f";
}

.icon-magnifier.icon:before {
  content: "\ea60";
}

.icon-map.icon:before {
  content: "\ea61";
}

.icon-mask.icon:before {
  content: "\ea62";
}

.icon-maximize.icon:before {
  content: "\ea63";
}

.icon-medal-star.icon:before {
  content: "\ea64";
}

.icon-menu.icon:before {
  content: "\ea65";
}

.icon-message-add.icon:before {
  content: "\ea66";
}

.icon-message-edit.icon:before {
  content: "\ea67";
}

.icon-message-minus.icon:before {
  content: "\ea68";
}

.icon-message-notify.icon:before {
  content: "\ea69";
}

.icon-message-programming.icon:before {
  content: "\ea6a";
}

.icon-message-question.icon:before {
  content: "\ea6b";
}

.icon-message-text-2.icon:before {
  content: "\ea6c";
}

.icon-message-text.icon:before {
  content: "\ea6d";
}

.icon-messages.icon:before {
  content: "\ea6e";
}

.icon-microsoft.icon:before {
  content: "\ea6f";
}

.icon-milk.icon:before {
  content: "\ea70";
}

.icon-minus-circle.icon:before {
  content: "\ea71";
}

.icon-minus-folder.icon:before {
  content: "\ea72";
}

.icon-minus-squared.icon:before {
  content: "\ea73";
}

.icon-minus.icon:before {
  content: "\ea74";
}

.icon-moon.icon:before {
  content: "\ea75";
}

.icon-more-2.icon:before {
  content: "\ea76";
}

.icon-mouse-circle.icon:before {
  content: "\ea77";
}

.icon-mouse-square.icon:before {
  content: "\ea78";
}

.icon-mouse.icon:before {
  content: "\ea79";
}

.icon-nexo.icon:before {
  content: "\ea7a";
}

.icon-night-day.icon:before {
  content: "\ea7b";
}

.icon-note-2.icon:before {
  content: "\ea7c";
}

.icon-note.icon:before {
  content: "\ea7d";
}

.icon-notepad-bookmark.icon:before {
  content: "\ea7e";
}

.icon-notepad-edit.icon:before {
  content: "\ea7f";
}

.icon-notepad.icon:before {
  content: "\ea80";
}

.icon-notification-1.icon:before {
  content: "\ea81";
}

.icon-notification-bing.icon:before {
  content: "\ea82";
}

.icon-notification-circle.icon:before {
  content: "\ea83";
}

.icon-notification-favorite.icon:before {
  content: "\ea84";
}

.icon-notification-on.icon:before {
  content: "\ea85";
}

.icon-notification-status.icon:before {
  content: "\ea86";
}

.icon-notification.icon:before {
  content: "\ea87";
}

.icon-ocean.icon:before {
  content: "\ea88";
}

.icon-office-bag.icon:before {
  content: "\ea89";
}

.icon-package.icon:before {
  content: "\ea8a";
}

.icon-pad.icon:before {
  content: "\ea8b";
}

.icon-pails.icon:before {
  content: "\ea8c";
}

.icon-paintbucket.icon:before {
  content: "\ea8d";
}

.icon-paper-clip.icon:before {
  content: "\ea8e";
}

.icon-paper-plane.icon:before {
  content: "\ea8f";
}

.icon-parcel-tracking.icon:before {
  content: "\ea90";
}

.icon-parcel.icon:before {
  content: "\ea91";
}

.icon-password-check.icon:before {
  content: "\ea92";
}

.icon-paypal.icon:before {
  content: "\ea93";
}

.icon-pencil.icon:before {
  content: "\ea94";
}

.icon-people.icon:before {
  content: "\ea95";
}

.icon-percentage.icon:before {
  content: "\ea96";
}

.icon-phone.icon:before {
  content: "\ea97";
}

.icon-photoshop.icon:before {
  content: "\ea98";
}

.icon-picture.icon:before {
  content: "\ea99";
}

.icon-pill.icon:before {
  content: "\ea9a";
}

.icon-pin.icon:before {
  content: "\ea9b";
}

.icon-plus-circle.icon:before {
  content: "\ea9c";
}

.icon-plus-squared.icon:before {
  content: "\ea9d";
}

.icon-plus.icon:before {
  content: "\ea9e";
}

.icon-pointers.icon:before {
  content: "\ea9f";
}

.icon-price-tag.icon:before {
  content: "\eaa0";
}

.icon-printer.icon:before {
  content: "\eaa1";
}

.icon-profile-circle.icon:before {
  content: "\eaa2";
}

.icon-pulse.icon:before {
  content: "\eaa3";
}

.icon-purchase.icon:before {
  content: "\eaa4";
}

.icon-python.icon:before {
  content: "\eaa5";
}

.icon-question-2.icon:before {
  content: "\eaa6";
}

.icon-question.icon:before {
  content: "\eaa7";
}

.icon-questionnaire-tablet.icon:before {
  content: "\eaa8";
}

.icon-ranking.icon:before {
  content: "\eaa9";
}

.icon-react.icon:before {
  content: "\eaaa";
}

.icon-receipt-square.icon:before {
  content: "\eaab";
}

.icon-rescue.icon:before {
  content: "\eaac";
}

.icon-right-left.icon:before {
  content: "\eaad";
}

.icon-right-square.icon:before {
  content: "\eaae";
}

.icon-right.icon:before {
  content: "\eaaf";
}

.icon-rocket.icon:before {
  content: "\eab0";
}

.icon-route.icon:before {
  content: "\eab1";
}

.icon-router.icon:before {
  content: "\eab2";
}

.icon-row-horizontal.icon:before {
  content: "\eab3";
}

.icon-row-vertical.icon:before {
  content: "\eab4";
}

.icon-safe-home.icon:before {
  content: "\eab5";
}

.icon-satellite.icon:before {
  content: "\eab6";
}

.icon-save-2.icon:before {
  content: "\eab7";
}

.icon-save-deposit.icon:before {
  content: "\eab8";
}

.icon-scan-barcode.icon:before {
  content: "\eab9";
}

.icon-screen.icon:before {
  content: "\eaba";
}

.icon-scroll.icon:before {
  content: "\eabb";
}

.icon-search-list.icon:before {
  content: "\eabc";
}

.icon-security-user.icon:before {
  content: "\eabd";
}

.icon-setting-2.icon:before {
  content: "\eabe";
}

.icon-setting-3.icon:before {
  content: "\eabf";
}

.icon-setting-4.icon:before {
  content: "\eac0";
}

.icon-setting.icon:before {
  content: "\eac1";
}

.icon-share.icon:before {
  content: "\eac2";
}

.icon-shield-cross.icon:before {
  content: "\eac3";
}

.icon-shield-search.icon:before {
  content: "\eac4";
}

.icon-shield-slash.icon:before {
  content: "\eac5";
}

.icon-shield-tick.icon:before {
  content: "\eac6";
}

.icon-shield.icon:before {
  content: "\eac7";
}

.icon-ship.icon:before {
  content: "\eac8";
}

.icon-shop.icon:before {
  content: "\eac9";
}

.icon-simcard-2.icon:before {
  content: "\eaca";
}

.icon-simcard.icon:before {
  content: "\eacb";
}

.icon-size.icon:before {
  content: "\eacc";
}

.icon-slack.icon:before {
  content: "\eacd";
}

.icon-slider-horizontal-2.icon:before {
  content: "\eace";
}

.icon-slider-horizontal.icon:before {
  content: "\eacf";
}

.icon-slider-vertica.icon:before {
  content: "\ead0";
}

.icon-slider-vertical.icon:before {
  content: "\ead1";
}

.icon-slider.icon:before {
  content: "\ead2";
}

.icon-sms.icon:before {
  content: "\ead3";
}

.icon-snapchat.icon:before {
  content: "\ead4";
}

.icon-social-media.icon:before {
  content: "\ead5";
}

.icon-soft-2.icon:before {
  content: "\ead6";
}

.icon-soft-3.icon:before {
  content: "\ead7";
}

.icon-soft.icon:before {
  content: "\ead8";
}

.icon-some-files.icon:before {
  content: "\ead9";
}

.icon-sort.icon:before {
  content: "\eada";
}

.icon-speaker.icon:before {
  content: "\eadb";
}

.icon-spotify.icon:before {
  content: "\eadc";
}

.icon-spring-framework.icon:before {
  content: "\eadd";
}

.icon-square-brackets.icon:before {
  content: "\eade";
}

.icon-star.icon:before {
  content: "\eadf";
}

.icon-status.icon:before {
  content: "\eae0";
}

.icon-subtitle.icon:before {
  content: "\eae1";
}

.icon-sun.icon:before {
  content: "\eae2";
}

.icon-support.icon:before {
  content: "\eae3";
}

.icon-switch.icon:before {
  content: "\eae4";
}

.icon-syringe.icon:before {
  content: "\eae5";
}

.icon-tab-tablet.icon:before {
  content: "\eae6";
}

.icon-tablet-delete.icon:before {
  content: "\eae7";
}

.icon-tablet-down.icon:before {
  content: "\eae8";
}

.icon-tablet-ok.icon:before {
  content: "\eae9";
}

.icon-tablet-text-down.icon:before {
  content: "\eaea";
}

.icon-tablet-text-up.icon:before {
  content: "\eaeb";
}

.icon-tablet-up.icon:before {
  content: "\eaec";
}

.icon-tablet.icon:before {
  content: "\eaed";
}

.icon-tag-cross.icon:before {
  content: "\eaee";
}

.icon-tag.icon:before {
  content: "\eaef";
}

.icon-teacher.icon:before {
  content: "\eaf0";
}

.icon-technology-1.icon:before {
  content: "\eaf1";
}

.icon-technology-2.icon:before {
  content: "\eaf2";
}

.icon-technology-3.icon:before {
  content: "\eaf3";
}

.icon-technology-4.icon:before {
  content: "\eaf4";
}

.icon-telephone-geolocation.icon:before {
  content: "\eaf5";
}

.icon-test-tubes.icon:before {
  content: "\eaf6";
}

.icon-text-bold.icon:before {
  content: "\eaf7";
}

.icon-text-circle.icon:before {
  content: "\eaf8";
}

.icon-text-italic.icon:before {
  content: "\eaf9";
}

.icon-text-number.icon:before {
  content: "\eafa";
}

.icon-text-strikethrough.icon:before {
  content: "\eafb";
}

.icon-text-underline.icon:before {
  content: "\eafc";
}

.icon-text.icon:before {
  content: "\eafd";
}

.icon-textalign-center.icon:before {
  content: "\eafe";
}

.icon-textalign-justifycenter.icon:before {
  content: "\eaff";
}

.icon-textalign-left.icon:before {
  content: "\eb00";
}

.icon-textalign-right.icon:before {
  content: "\eb01";
}

.icon-thermometer.icon:before {
  content: "\eb02";
}

.icon-theta-theta.icon:before {
  content: "\eb03";
}

.icon-tiktok.icon:before {
  content: "\eb04";
}

.icon-time.icon:before {
  content: "\eb05";
}

.icon-timer.icon:before {
  content: "\eb06";
}

.icon-to-left.icon:before {
  content: "\eb07";
}

.icon-to-right.icon:before {
  content: "\eb08";
}

.icon-toggle-off-circle.icon:before {
  content: "\eb09";
}

.icon-toggle-off.icon:before {
  content: "\eb0a";
}

.icon-toggle-on-circle.icon:before {
  content: "\eb0b";
}

.icon-toggle-on.icon:before {
  content: "\eb0c";
}

.icon-trash-square.icon:before {
  content: "\eb0d";
}

.icon-trash.icon:before {
  content: "\eb0e";
}

.icon-tree.icon:before {
  content: "\eb0f";
}

.icon-trello.icon:before {
  content: "\eb10";
}

.icon-ts.icon:before {
  content: "\eb11";
}

.icon-twitch.icon:before {
  content: "\eb12";
}

.icon-twitter.icon:before {
  content: "\eb13";
}

.icon-two-credit-cart.icon:before {
  content: "\eb14";
}

.icon-underlining.icon:before {
  content: "\eb15";
}

.icon-up-diagonal.icon:before {
  content: "\eb16";
}

.icon-up-down.icon:before {
  content: "\eb17";
}

.icon-up-square.icon:before {
  content: "\eb18";
}

.icon-up.icon:before {
  content: "\eb19";
}

.icon-update-file.icon:before {
  content: "\eb1a";
}

.icon-update-folder.icon:before {
  content: "\eb1b";
}

.icon-user-edit.icon:before {
  content: "\eb1c";
}

.icon-user-square.icon:before {
  content: "\eb1d";
}

.icon-user-tick.icon:before {
  content: "\eb1e";
}

.icon-user.icon:before {
  content: "\eb1f";
}

.icon-users.icon:before {
  content: "\eb20";
}

.icon-verify.icon:before {
  content: "\eb21";
}

.icon-vibe-vibe.icon:before {
  content: "\eb22";
}

.icon-virus.icon:before {
  content: "\eb23";
}

.icon-vue.icon:before {
  content: "\eb24";
}

.icon-vuesax.icon:before {
  content: "\eb25";
}

.icon-wallet.icon:before {
  content: "\eb26";
}

.icon-wanchain-wan.icon:before {
  content: "\eb27";
}

.icon-watch.icon:before {
  content: "\eb28";
}

.icon-whatsapp.icon:before {
  content: "\eb29";
}

.icon-wifi-home.icon:before {
  content: "\eb2a";
}

.icon-wifi-square.icon:before {
  content: "\eb2b";
}

.icon-wifi.icon:before {
  content: "\eb2c";
}

.icon-wireframe.icon:before {
  content: "\eb2d";
}

.icon-wlan.icon:before {
  content: "\eb2e";
}

.icon-wrench.icon:before {
  content: "\eb2f";
}

.icon-xaomi.icon:before {
  content: "\eb30";
}

.icon-xd.icon:before {
  content: "\eb31";
}

.icon-xmr.icon:before {
  content: "\eb32";
}

.icon-yii.icon:before {
  content: "\eb33";
}

.icon-youtube.icon:before {
  content: "\eb34";
}

/*

*/
.btn {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  background-color: #23a6f0;
  padding: 1rem 2rem;
  border-radius: 0.375rem;
  gap: 0.625rem;
  border: 1px solid #23a6f0;
  cursor: pointer;
  transition: 200ms;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  color: #fff;
}
.btn:hover {
  background-color: rgb(134, 206.05, 246.75);
  border-color: rgb(134, 206.05, 246.75);
}
.btn:active {
  background-color: rgb(29.75, 141.1, 204);
  border-color: rgb(29.75, 141.1, 204);
}
.btn.btn-small {
  padding: 0.625rem 1.25rem;
}
.btn.btn-small.btn-only-icon {
  padding: 0.625rem 0.75rem;
}
.btn.btn-large {
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
  line-height: 1.3333333333;
}
.btn.btn-large i {
  font-size: 1rem;
}
.btn.btn-large.btn-only-icon {
  padding: 1.25rem 1.5rem;
}
.btn.btn-outline {
  background-color: transparent;
  color: #23a6f0;
}
.btn.btn-outline:hover {
  color: rgb(134, 206.05, 246.75);
  border-color: rgb(134, 206.05, 246.75);
}
.btn.btn-outline:active {
  color: rgb(29.75, 141.1, 204);
  border-color: rgb(29.75, 141.1, 204);
}
.btn.btn-icon i, .btn.btn-only-icon i {
  font-size: 1rem;
}
.btn.btn-only-icon {
  padding: 1rem 1.125rem;
}
.btn.btn-rounded {
  border-radius: 99999px;
}

.input {
  display: flex;
  gap: 12px;
  align-items: center;
  height: 3rem;
  border: 1px solid #e6e6e6;
  border-radius: 0.375rem;
  padding: 0 1.25rem;
}
.input input {
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  height: 3rem;
  font-weight: 200;
}
.input.input-icon {
  padding: 0 1rem;
  color: #737373;
}
.input.input-large, .input.input-large input {
  height: 5.5rem;
}

.select {
  position: relative;
  display: flex;
  gap: 12px;
  align-items: center;
  height: 3rem;
  border: 1px solid #e6e6e6;
  border-radius: 0.375rem;
  padding: 0 1.25rem;
  cursor: pointer;
}
.select select {
  appearance: none; /* Tarayıcı stilini kaldır */
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  padding: 0;
  position: relative;
  font-weight: 200;
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}
.select::after {
  font-family: "keenicons-solid" !important;
  content: "\e9e4"; /* Özel ikon */
  font-size: 14px;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  pointer-events: none; /* Seçimi engelleme */
}
.select.large-select {
  height: 5.5rem;
}

.textarea {
  border: none;
  outline: none;
  padding: 0;
  resize: none;
  border: 1px solid #e6e6e6;
  border-radius: 0.375rem;
  padding: 1rem 1.25rem;
  font-weight: 200;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 13px;
}
.checkbox label {
  color: #737373;
  line-height: 1.75rem;
}
.checkbox input {
  transition: 200ms;
  appearance: none;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 0.375rem;
  cursor: pointer;
}
.checkbox input:before {
  font-family: "keenicons-solid";
  content: "\e99e";
  color: #fff;
}
.checkbox input:hover, .checkbox input:focus {
  border-color: #23a6f0;
}
.checkbox input:checked {
  background-color: #23a6f0;
  border-color: #23a6f0;
}
.checkbox input:disabled {
  cursor: no-drop;
  border-color: #e6e6e6;
  background-color: #e6e6e6;
}
.checkbox input:disabled::before {
  color: #e6e6e6;
}

/*# sourceMappingURL=index.css.map */
