@use "../variables/colors" as *;
@use "../variables/rounded" as *;
@use "../variables/spacing" as *;
@use "../variables/typography" as *;

/*

*/
.btn {
  // Normalize
  outline: none;
  border: none;

  // Style
  display: flex;
  background-color: $primary-color;
  padding: map-get($spacing, 6) map-get($spacing, 10);
  border-radius: map-get($rounded, md);
  gap: map-get($spacing, 5);

  // Typography
  font-weight: 700;
  font-size: map-get($text-sizes, sm, 1);
  line-height: map-get($text-sizes, sm, 2);
  color: $light-background;

  // Sizes
  &.btn-small {
  }
  &.btn-large {
  }

  // Variants
  &.btn-outline {
    background-color: transparent;
    color: $primary-color;
    border: map-get($spacing, px) solid $primary-color;
  }
  &.btn-icon {
  }
  &.btn-rounded {
    border-radius: map-get($rounded, full);
  }
}
