@use "sass:map";
@use "../variables/rounded" as *;
@use "../variables/colors" as *;
@use "../variables/spacing" as *;
@use "../variables/animations" as *;

// .input, .select, .textarea {}
.input {
  // Normalize
  input {
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
    height: map.get($spacing, 24);
    font-weight: 200;
  }

  // Style
  display: flex;
  gap: 12px;
  align-items: center;
  height: map.get($spacing, 24);
  border: map.get($spacing, px) solid $form-element-border-color;
  border-radius: map.get($rounded, md);
  padding: 0 map.get($spacing, 10);

  &.input-icon {
    padding: 0 map.get($spacing, 8);
    color: #737373;
  }
  &.input-large,
  &.input-large input {
    height: map.get($spacing, 44);
  }
}

.select {
  position: relative;
  display: flex;
  gap: 12px;
  align-items: center;
  height: map.get($spacing, 24);
  border: map.get($spacing, px) solid $form-element-border-color;
  border-radius: map.get($rounded, md);
  padding: 0 map.get($spacing, 10);
  cursor: pointer;

  select {
    appearance: none; /* Tarayıcı stilini kaldır */
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
    padding: 0;
    position: relative;
    font-weight: 200;
    width: 100%;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
  }

  &::after {
    font-family: "keenicons-solid" !important;
    content: "\e9e4"; /* Özel ikon */
    font-size: 14px;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    pointer-events: none; /* Seçimi engelleme */
  }

  &.large-select {
    height: map.get($spacing, 44);
  }
}
.textarea {
  // Normalize
  border: none;
  outline: none;
  padding: 0;
  resize: none;

  // Style
  border: map.get($spacing, px) solid $form-element-border-color;
  border-radius: map.get($rounded, md);
  padding: map.get($spacing, 8) map.get($spacing, 10);
  height: map.get($spacing, 244);
  font-weight: 200;
}
.checkbox {
  display: flex;
  align-items: center;
  gap: 13px;

  label {
    color: #737373;
    line-height: map.get($spacing, 14);
  }
  input {
    transition: $duration;
    appearance: none;
    background-color: $light-bg-color;
    border: map.get($spacing, px) solid $form-element-border-color;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: map.get($spacing, 14);
    height: map.get($spacing, 14);
    border-radius: map.get($rounded, md);
    cursor: pointer;

    &:before {
      font-family: "keenicons-solid";
      content: "\e99e";
      color: $light-bg-color;
    }

    &:hover,
    &:focus {
      border-color: $primary-color;
    }

    &:checked {
      background-color: $primary-color;
      border-color: $primary-color;
    }
    &:disabled {
      cursor: no-drop;
      border-color: $form-element-border-color;
      background-color: $form-element-border-color;
      &::before {
        color: $form-element-border-color;
      }
    }
  }
}
.radio {
  display: flex;
  align-items: center;
  gap: 13px;

  label {
    color: #737373;
    line-height: map.get($spacing, 14);
  }
  input {
    margin: 0;
    transition: $duration;
    appearance: none;
    background-color: $light-bg-color;
    border: map.get($spacing, px) solid $form-element-border-color;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: map.get($spacing, 12);
    height: map.get($spacing, 12);
    border-radius: map.get($rounded, full);
    cursor: pointer;

    &:hover,
    &:focus {
      border-color: $primary-color;
    }

    &:checked {
      border-color: $primary-color;
      border-width: map.get($spacing, 3);
    }
    &:disabled {
      cursor: no-drop;
      border-color: $form-element-border-color;
      background-color: $form-element-border-color;
    }
  }
}
.switch {
  display: flex;
  align-items: center;
  gap: 13px;

  label {
    color: #737373;
    line-height: map.get($spacing, 14);
  }
  input {
    transition: $duration;
    appearance: none;
    position: relative;
    border: map.get($spacing, px) solid $form-element-border-color;
    width: map.get($spacing, 24);
    height: map.get($spacing, 14);
    border-radius: map.get($rounded, full);
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      top: map.get($spacing, 1);
      left: map.get($spacing, 1);
      border: map.get($spacing, px) solid $form-element-border-color;
      border-radius: map.get($rounded, full);
      background-color: $gray-color;
      width: map.get($spacing, 10);
      height: map.get($spacing, 10);
      transition: $duration;
    }

    &:hover,
    &:focus {
      border-color: $primary-color;
    }

    &:checked {
      background-color: $primary-color;
      border-color: $primary-color;

      &::before {
        left: map.get($spacing, 11);
      }
    }
    &:disabled {
      cursor: no-drop;
      border-color: $form-element-border-color;
      background-color: $form-element-border-color;
      &::before {
        color: $form-element-border-color;
      }
    }
  }
}
