// Colors
$primary-color: #23a6f0 !default;
$secondary-color-1: #23856d !default;
$secondary-color-2: #3c403d !default;
$dark-background-color: hwb(228 15% 74%) !default;
$light-background-color: #fff !default;
$success-color: #2dc071 !default;
$alert-color: #e77c40 !default;
$danger-color: #e74040 !default;
$hover-color: #2a7cc7 !default;
$disabled-element-color: #8ec2f2 !default;
$muted-color: #bdbdbd !default;
$light-gray-1: #fafafa !default;
$light-gray-2: #ececec !default;
$primary-text-color: #23a6f0 !default;
$secondary-text-color-1: #40bb15 !default;
$secondary-text-color-2: #3c403d !default;
$text-color: #252b42 !default;
$second-text-color: #737373 !default;
$light-text-color: #fff !default;
$success-text-color: #2dc071 !default;
$alert-text-color: #e77c40 !default;
$danger-text-color: #e74040 !default;
$hover-text-color: #2a7cc7 !default;
$disabled-element-text-color: #8ec2f2 !default;
$muted-text-color: #bdbdbd !default;
$light-text-gray-1: #fafafa !default;
$light-text-gray-2: #ececec !default;
$faded-primary-color: #b2e3ff !default;
$faded-secondary-color-1: #b9eaa8 !default;
$faded-secondary-color-2: #ffdcd1 !default;
$light-background: #fff !default;
