@use "../helpers/generete-color-variant" as *;

// Primary
$primary-color: #23a6f0 !default;
$primary-color-100: generete-color-variant($primary-color, 100);
$primary-color-200: generete-color-variant($primary-color, 200);
$primary-color-300: generete-color-variant($primary-color, 300);
$primary-color-400: generete-color-variant($primary-color, 400);
$primary-color-500: generete-color-variant($primary-color, 500);
$primary-color-600: generete-color-variant($primary-color, 600);
$primary-color-700: generete-color-variant($primary-color, 700);
$primary-color-800: generete-color-variant($primary-color, 800);
$primary-color-900: generete-color-variant($primary-color, 900);

// Secondary Colors
$secondary-color: #23856d !default;
$secondary-color-100: generete-color-variant($secondary-color, 100);
$secondary-color-200: generete-color-variant($secondary-color, 200);
$secondary-color-300: generete-color-variant($secondary-color, 300);
$secondary-color-400: generete-color-variant($secondary-color, 400);
$secondary-color-500: generete-color-variant($secondary-color, 500);
$secondary-color-600: generete-color-variant($secondary-color, 600);
$secondary-color-700: generete-color-variant($secondary-color, 700);
$secondary-color-800: generete-color-variant($secondary-color, 800);
$secondary-color-900: generete-color-variant($secondary-color, 900);

// Tertiary Colors
$tertiary-color: #3c403d !default;
$tertiary-color-100: generete-color-variant($tertiary-color, 100);
$tertiary-color-200: generete-color-variant($tertiary-color, 200);
$tertiary-color-300: generete-color-variant($tertiary-color, 300);
$tertiary-color-400: generete-color-variant($tertiary-color, 400);
$tertiary-color-500: generete-color-variant($tertiary-color, 500);
$tertiary-color-600: generete-color-variant($tertiary-color, 600);
$tertiary-color-700: generete-color-variant($tertiary-color, 700);
$tertiary-color-800: generete-color-variant($tertiary-color, 800);
$tertiary-color-900: generete-color-variant($tertiary-color, 900);

// Success Colors
$success-color: #2dc071 !default;
$success-color-100: generete-color-variant($success-color, 100);
$success-color-200: generete-color-variant($success-color, 200);
$success-color-300: generete-color-variant($success-color, 300);
$success-color-400: generete-color-variant($success-color, 400);
$success-color-500: generete-color-variant($success-color, 500);
$success-color-600: generete-color-variant($success-color, 600);
$success-color-700: generete-color-variant($success-color, 700);
$success-color-800: generete-color-variant($success-color, 800);
$success-color-900: generete-color-variant($success-color, 900);

// Warning Colors
$warning-color: #e77c40 !default;
$warning-color-100: generete-color-variant($warning-color, 100);
$warning-color-200: generete-color-variant($warning-color, 200);
$warning-color-300: generete-color-variant($warning-color, 300);
$warning-color-400: generete-color-variant($warning-color, 400);
$warning-color-500: generete-color-variant($warning-color, 500);
$warning-color-600: generete-color-variant($warning-color, 600);
$warning-color-700: generete-color-variant($warning-color, 700);
$warning-color-800: generete-color-variant($warning-color, 800);
$warning-color-900: generete-color-variant($warning-color, 900);

// Danger Colors
$danger-color: #e74040 !default;
$danger-color-100: generete-color-variant($danger-color, 100);
$danger-color-200: generete-color-variant($danger-color, 200);
$danger-color-300: generete-color-variant($danger-color, 300);
$danger-color-400: generete-color-variant($danger-color, 400);
$danger-color-500: generete-color-variant($danger-color, 500);
$danger-color-600: generete-color-variant($danger-color, 600);
$danger-color-700: generete-color-variant($danger-color, 700);
$danger-color-800: generete-color-variant($danger-color, 800);
$danger-color-900: generete-color-variant($danger-color, 900);

// Background Colors
$dark-bg-color: hwb(228 15% 74%) !default;
$light-bg-color: #fff !default;
$light-gray-color: #fafafa !default;
$gray-color: #ececec !default;

// Text Colors
$text-primary-color: #252b42 !default;
$text-secondary-color: #737373 !default;
$text-muted-color: #bdbdbd !default;

// Faded Variants
$faded-primary-color: #b2e3ff !default;
$faded-secondary-color: #b9eaa8 !default;
$faded-tertiary-color: #ffdcd1 !default;
